ruby:
  require_locals     ['attribute', 'f'], local_assigns
  label              ||= attribute.to_s.titleize
  required           ||= f.object.send(attribute).is_required?(f.object.class)
  helper_text        ||= ''
  markdown           ||= false
  markdown_supported ||= false
  hint               ||= nil

  label_adjusted = required ? '<abbr title="required">*</abbr> ' : ''
  label_adjusted += label
  if markdown_supported.present? || helper_text.present?
    label_adjusted += content_tag :h6, class: 'helper_text' do
      concat(helper_text) if helper_text.present?
      concat(content_tag(:span, 'Markdown Supported', class: 'markdown-support')) if markdown_supported.present?
    end
  end

= f.simple_fields_for attribute.to_sym do |i|
  - input_options = { data: { validate: i.object.validation_json(f.object.class) }}
  - input_options[:class] = 'js-markdown-editor' if markdown.present?
  = i.input :content, label: label_adjusted.html_safe, hint: hint, input_html: input_options
