ruby:
  require_locals ['attribute', 'f'], local_assigns
  label ||= attribute.to_s.titleize
  helper_text ||= ""
  markdown ||= false
  if markdown.present? || helper_text.present?
    label += content_tag :h6, class: 'helper_text' do
      concat(helper_text) if helper_text.present?
      concat(content_tag(:span, 'Markdown Supported', class: 'markdown-support')) if markdown.present?
    end
  end
  label = label.html_safe if label.present?
  hint ||= nil

= f.simple_fields_for attribute.to_sym do |i|
  = i.input :content, label: label, hint: hint
