section.main_content-header
  .main_content-header-wrapper
    nav.main_content-breadcrumbs
      ul.breadcrumbs
        li: a href=templates_path All Releases

    h1 Page Title

    nav.main_content-header-section
      ul.main_content-header-section-links
        li: a href="#section1" Section #1
        li: a href="#section2" Section #2

    .main_content-header-save
      a#main_content-header-save-cancel href=templates_path Cancel
      input#main_content-header-save-submit type="submit" value="Save Settings"
