.asset-actions {
  position: relative;
  display: inline-block;
  width: 90%;
  min-width: 223px;
  max-width: 515px;
  padding: 5px 5px 4px 5px;
  border: 1px solid $c-border;
  background: $c-white;
  font-size: 13px;
  border-radius: 2px;

  a {
    font-size: 18px;
    color: $c-darkest-grey;
    padding: 6px;
    display: inline-block;

    &:hover {
      color: $c-custom-highlight;
    }
  }

  &.asset-actions--files {
    a {
      line-height: 32px;
    }
  }

  > img {
    width: 20%;
    margin-right: 20px;
    cursor: pointer;
    float: left;
    display: block;
  }

  a.file_input-button {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
  }
}

.asset-actions-title {
  float: left;
  display: block;
  width: 70%;
  padding: 10px 7px 0 0;
}

.asset-actions-image-name {
  color: $c-darkest-grey;
}
