input.string.js-color-picker {
  width: 180px;
}

div.cp-color-picker {
  border: 1px solid #999;
  padding: 10px 10px 0;
  background: #eee;
  overflow: visible;
  border-radius: 3px;

  .cp-alpha {
    margin: 10px 0;
    height: 6px;
    border-radius: 6px;
    overflow: visible;
    border: 1px solid #999;
    box-sizing: border-box;
    background: linear-gradient(to right, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 0) 100%);
  }
}

div.cp-xy-slider {
  border: 1px solid #999;
  margin-bottom: 10px;

  &:active {
    cursor: none;
  }
}

div.cp-xy-cursor {
  width: 12px;
  height: 12px;
  margin: -6px
}

div.cp-z-slider {
  margin-left: 10px;
  border: 1px solid #999;
}

div.cp-z-cursor {
  border-width: 5px;
  margin-top: -5px;
}

div.cp-alpha-cursor {
  background: #eee;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  margin: -5px -7px;
  border: 1px solid #666!important;
  box-shadow: inset -2px -4px 3px #ccc;
}

