// Styles needed for the fileinputer
.file_input-wrapper {
  @include transition(background .2s);
  position: relative;
  display: inline-block;
  width: 90%;
  min-width: 223px;
  max-width: 515px;
  padding: 5px;
  border: 1px solid $c-border;
  background: $c-body-bg;
  font-size: 13px;
  cursor: pointer;
  border-radius: 2px;

  span {
    @include transition(color .2s);
    color: $c-text-sub;
  }

  &.js-active {
    background: $c-white;
  }
}

.file_input-button {
  @include gradient-vertical($start-color: $c-form-button-gradient-start, $end-color: $c-form-button-gradient-end);
  color: $c-text;
  padding: 11px 14px;
  border: 1px solid $c-border;
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    background: $c-form-submit-gradient-end;
  }

  + span {
    padding: 10px 30px 0 0;
  }
}

.file_input-delete {
  display: none;
  position: absolute;
  right: 10px;
  top: 19px;
  color: $c-text-sub;

  .js-active & {
    display: block;
  }
}
