// Styles needed for the fileinputer
.file_input-wrapper {
  position: relative;
  display: inline-block;
  width: 90%;
  min-width: 223px;
  max-width: 515px;
  padding: 5px;
  border: 1px solid $c-border;
  background: $c-form-file-bg;
  font-size: 13px;
  cursor: pointer;

  @include transition(background, .2s);
  @include border-radius(2px);

  span {
    color: $c-text-sub;
    @include transition(color, .2s);
  }

  &.js-active {
    background: $c-form-file-bg-active;

    span {
      color: $c-custom-highlight;
    }
  }
}

.file_input-button {
  color: $c-text;
  padding: 11px 14px;
  border: 1px solid $c-border;
  margin-right: 10px;
  cursor: pointer;

  @include gradient-vertical($start-color: $c-form-button-gradient-start, $end-color: $c-form-button-gradient-end);

  &:hover {
    background: $c-form-submit-gradient-hover;
  }

  + span {
    padding: 10px 30px 0 0;
  }
}

.file_input-delete {
  display: none;
  position: absolute;
  right: 10px;
  top: 19px;
  color: $c-text-sub;

  .js-active & {
    display: block;
  }
}
