input[type=text],
input[type=number],
input[type=textarea],
input[type=url],
input[type=tel],
input[type=password],
input[type=email] {
  @include transition(border-color .2s);
  padding: 12px 15px;
  border: 1px solid $c-border;
  font-size: 14px;
  outline: none;
  border-radius: 2px;
  max-width: 100%;

  &:focus {
    border-color: $c-custom-highlight;
  }
}

.input {
  margin-bottom: 20px;
}

.main_content-header-delete {
  color: #ce0202;
  margin-right: 20px;

  &:before {
    @include icon-stuff;
    @extend .icon-delete_x:before;
    font-size: 12px;
    margin-right: 6px;
  }
}

.js-addedit-form {
  h3 {
    @extend label;
    margin-bottom: 20px;
  }
}

.js-addedit-form-wrapper {
  display: none;
}

.form_content-wrapper {
  padding: 30px 30px 30px 40px;
  border: 1px solid $c-border;
  border-top: 0;
  background: $c-form-table-bg;

  h2 {
    margin-bottom: 20px;
    font-size: 16px;
    color: $c-text-heavy;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: none;
    border: 0;
    padding: 0;
    margin: 0 auto 30px;
    background: none;
  }
}

.cancel-nested-button {
  margin-left: 10px;
}

.table-helper-text {
  font-size: 14px;
  font-style: italic;
  padding-bottom: 14px;
}

.js-add-link {
  font-size: 12px;
}

.table-add-link {
  float: right;
}

.table-add-link-visible {
  float: right;
  font-size: 12px;
}

.form_content-wrapper-visible {
  padding: 30px;
  border: 1px solid $c-border;
  border-top: 0;
  background: $c-form-table-bg;

  .input {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }

  .select .chosen-container-single .chosen-single {
    padding: 8px 15px;
  }
}

.form_content-wrapper-visible-complex {
  padding: 30px;
  border: 1px solid $c-border;
  border-top: 0;
  background: $c-form-table-bg;

  .select .chosen-container-single .chosen-single {
    padding: 8px 15px;
  }
}
