input[type=text], input[type=number], input[type=textarea], input[type=url], input[type=tel], input[type=password], input[type=email] {
  padding: 12px 15px;
  border: 1px solid $c-border;
  font-size: 14px;
  outline: none;
  @include border-radius(2px);
  @include transition(border-color, .2s);

  &:focus {
      border-color: $c-custom-highlight;
    }
}

.input {
  margin-bottom: 20px;
}

.main_content-header-delete {
  color: #ce0202;
  margin-right: 20px;

  &:before {
    @include icon_stuff();
    @extend .icon-delete_x:before;
    font-size: 12px;
    margin-right: 6px;
  }
}

#main_content-header-save-cancel {
  @extend button[type=button];
  padding: 13px 16px;
  font-size: 14px;
}

.js-addedit-form {
  h3 {
    @extend label;
    margin-bottom: 20px;
  }
}

.js-addedit-form-wrapper {
  display: none;

  .form_content-wrapper {
    padding: 30px 30px 30px 40px;
    border: 1px solid $c-border;
    border-top: 0;
    background: $c-form-table-bg;
  }

  .form_content-header {
    margin-bottom: 20px;
    font-size: 16px;
    color: $c-text-heavy;
    font-weight: bold;
  }
}

.js-add-link {
  font-size: 12px;
}

.table-add-link {
  float: right;
}

.table-add-link-visible {
  float: right;
  font-size: 12px;
}

.form_content-wrapper-visible {
  padding: 30px;
  border: 1px solid $c-border;
  border-top: 0;
  background: $c-form-table-bg;

  .input {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }

  .select .chosen-container-single .chosen-single {
    padding: 8px 15px;
  }
}

.form_content-wrapper-visible-complex {
  padding: 30px;
  border: 1px solid $c-border;
  border-top: 0;
  background: $c-form-table-bg;

  .select .chosen-container-single .chosen-single {
    padding: 8px 15px;
  }
}
