.markdown-support {
  @extend %underline-link;
  position: relative;
  display: inline-block;
  padding-left: 7px;
  cursor: pointer;

  &:after {
    @extend .icon-support:before;
    @include icon-stuff;
    position: absolute;
    padding-left: 7px;
    text-decoration: none;
    top: 1px;
    right: -20px;
  }
}

.hint,
.markdown-hint {
  // hide it so the javascript can do its thing and retain it's size
  display: inline-block;
  position: absolute;
  left: -9999px;
  visibility: hidden;

  &.simplemodal-data {
    position: static;
    visibility: visible;
  }

  img {
    max-width: 100%;
  }
}
