// pagination
.pagination {
  font-size: 12px;
  font-weight: bold;

  li {
    display: inline-block;
    margin-left: -4px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    display: block;
    padding: 10px;
    min-height: 30px;
    min-width: 35px;
    border: 1px solid $c-border;
    text-align: center;
    color: $c-grey;
    @include gradient-vertical($start-color: $c-form-button-gradient-start, $end-color: $c-form-button-gradient-end);

    &:hover {
      color: $c-white;
      background: $c-custom-highlight;
    }
  }
}

.pagination-ellipsis {
  span {
    display: block;
    padding: 10px;
    min-height: 30px;
    min-width: 35px;
    border: 1px solid $c-border;
    text-align: center;
    color: $c-grey;
    background: $c-lightest_grey;
  }
}
