.input {
  .editor-toolbar {
    opacity: 1;
    border-color: $c-lighter_grey;
    @include transition(border-color, .2s);

    a {
      opacity: .6;
    }
  }

  .CodeMirror-wrap {
    border-color: $c-lighter_grey;
    @include transition(border-color, .2s);
  }

  &.mde-focus {
    .editor-toolbar, .CodeMirror-wrap {
      border-color: $c-custom-highlight;
    }
  }
}
