= render 'fae/shared/nested_table',
  assoc: @item.table_assoc,
  parent_item: @parent_item,
  assoc_name: 'winemakers',
  assoc_name_singular: 'winemaker',
  cols: [:name, :winemaker_image, :table_image],
  ordered: true,
  edit_column: true,
  new_path: "/admin/winemakers/new?region_type=#{@item.region_type}",
  header: 'Winemaker',
  title: "#{@item.assoc_type.to_s.titlize}"
