<% require_locals ['item'], local_assigns %>

<nav class="main_content-breadcrumbs">
  <ul class="breadcrumbs">
    <li><%= link_to "All #{@klass_humanized.titleize.pluralize}", @index_path %></li>
  </ul>
</nav>

<%= form_header item %>