<% require_locals ['title'], local_assigns %>
<% title = title.pluralize %>

<section class="main_content-header">
  <div class="main_content-header-wrapper">
    <%= content_tag :h1, title %>

    <div class="main_content-header-save">
      <%= link_to "New #{title.singularize}", @new_path, class: "add-button" %>
    </div>
  </div>
</section>

<%= render 'flash_messages' %>