<% require_locals ['title'], local_assigns %>
<% new_button = !local_assigns[:new_button].eql?(false) %>
<% button_text ||= "New #{title.singularize}" %>

<section class="main_content-header">
  <div class="main_content-header-wrapper">
    <%= content_tag :h1, title %>

    <% if new_button %>
      <div class="main_content-header-save">
        <%= link_to button_text, @new_path, class: "add-button" %>
      </div>
    <% end %>
  </div>
</section>

<%= render 'flash_messages' %>