%underline-link {
  text-decoration: underline;
  color: $c-mid-dark-grey;

  &:hover {
    text-decoration: none;
  }
}

%gray-button {
  @include gradient-vertical($start-color: $c-light-button-gradient-start, $end-color: $c-light-button-gradient-end);
  border-radius: 3px;
  color: $c-light-button;
  border: 1px solid $c-border;
  padding: 11px 14px;
  cursor: pointer;

  &:hover {
    background: $c-light-button-gradient-end;
  }
}

%table-reset {
  table {
    table-layout: initial;
    border-collapse: inherit;
    border: initial;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  td {
    border: initial;

    &,
    &:hover {
      border-left: initial;
    }
  }

  tbody {
    tr {
      &,
      &:nth-child(even) {
        &:hover {
          td {
            &:first-child {
              border-left: inherit;
            }
          }
        }
      }
    }
  }
}

%nav-icon {
  &:after {
    @include icon-stuff;
    @include transition(color .2s);
    position: absolute;
    font-size: 15px;
    color: $c-darker-grey;
    right: 0;
  }

  &:hover {
    &:after {
      color: darken($c-darker-grey, 5%);
    }
  }
}
