%inset-nav-shadow {
  box-shadow: -15px 0 15px -15px $c-box_shadow;
}

%gray-button {
  @include gradient-vertical($start-color: $c-form-button-gradient-start, $end-color: $c-form-button-gradient-end);
  border-radius: 3px;
  color: $c-form-button;
  border: 1px solid $c-border;
  padding: 11px 14px;

  &:hover {
    background: $c-form-button-gradient-end;
  }
}

%table-reset {
  table {
    table-layout: initial;
    border-collapse: inherit;
    border: initial;
  }

  td {
    border: initial;

    &,
    &:hover {
      border-left: initial;
    }
  }

  tbody {
    tr {
      &,
      &:nth-child(even) {
        &,
        &:hover {
          background: initial;
          border-left: initial;

          td {
            &,
            &:first-child {
              border-left: inherit;
            }
          }
        }
      }
    }
  }
}

%nav-icon {
  &:after {
    @include icon-stuff;
    @include transition(color .2s);
    position: absolute;
    font-size: 15px;
    color: $c-nav-icons;
    right: 0;
  }

  &:hover {
    &:after {
      color: $c-nav-icons-hover;
    }
  }
}
