//////////////////////////////
// Project Specific Mixins
//////////////////////////////

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin right-triangle($size: 15px, $color: $c-black) {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: $size $size 0 0;
  border-color: $color transparent transparent transparent;
}

@mixin ghost-center() {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 1px;
  margin-left: -5px;
  visibility: hidden;
}

@mixin user-select($val){
  -webkit-user-select: $val; /* Chrome all / Safari all */
  -moz-user-select: $val; /* Firefox all */
  -ms-user-select: $val; /* IE 10+ */
  user-select: $val;
}

@mixin transform($value){
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin transform-origin($h, $v){
  -webkit-transform-origin: $h $v;
  -moz-transform-origin: $h $v;
  -o-transform-origin: $h $v;
  -ms-transform-origin: $h $v;
  transform-origin: $h $v;
}

@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-gradient(linear, left $start-percent, left $end-percent, from($start-color), to($end-color));
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
  background-image:  -moz-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0);
}

@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-gradient(linear, $start-percent top, $end-percent top, from($start-color), to($end-color));
  background-image: -webkit-linear-gradient(left, color-stop($start-color $start-percent), color-stop($end-color $end-percent));
  background-image: -moz-linear-gradient(left, $start-color $start-percent, $end-color $end-percent);
  background-image:  linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1);
}

// quick mixin for using icon font in :before :after
@mixin icon_stuff {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin secondary-header {
  padding: 17px $g-content-buffer;
  color: $c-text-heavy;
  background: $c-content-section-title;
  border-top: 1px solid $c-border;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2em;
  // counters the padding from .content
  margin: 0 negate($g-content-buffer) 30px;
}
