//////////////////////////////
// Project Specific Variables
//////////////////////////////

// Project Specific breakpoints
$breakpoints: (
  // @depreciation - remove page_header_save_block in v2.0
  'page_header_save_block': ( max-width:  615px ),
  'login_container':        ( min-width: 700px ),
  'login_submit':           ( min-width: 475px ),
);

// Merge $fine_breakpoints and $breakpoints to use with bp() mixin
$breakpoints: map-merge($fine-breakpoints, $breakpoints);

// widths, padding, margins, and the like
$content-buffer: 30px;

$sidenav_width: 250px;
$sidenav-padding-one-level: 10px;
$sidenav-padding-base-level: $content-buffer;
$sidenav-active-border-width: 7px;

// TYPOGRAPHY
$f-lato: "Lato", $f-sans;

// In order from dark to light
// These are stacked in 10s so new colors can be easily inserted between if/when this list changes
$grays: (
  10: #1e1e1e,
  20: #3b3b3b,
  30: #595959,
  40: #999,
  50: #ccc,
  60: #dfdfdf,
  70: #ebebeb,
  80: #f2f2f2,
  90: #f7f7f7,
);

// Functional name for colors
$c-darkest-grey: gray(10);
$c-dark-grey: gray(20);
$c-mid-dark-grey: gray(30);
$c-darker-grey: gray(40);
$c-mid-grey: gray(50);
$c-grey: gray(60);
$c-light-grey: gray(70);
$c-lightest-grey: gray(80);
$c-near-white: gray(90);

$c-body-bg: $c-near-white;
$c-text: $c-mid-dark-grey;
$c-text-sub: $c-darker-grey;
$c-text-sub-hover: $c-mid-grey;
$c-text-heavy: $c-darkest-grey;
$c-box_shadow: $c-mid-grey;
$c-border: $c-mid-grey;

// header area
$c-header-bg: $c-darkest-grey;
$c-header-dropdown-bg: $c-dark-grey;

// nav area
$c-nav-link: $c-dark-grey;
$c-nav-icons: $c-darker-grey;
$c-nav-icons-hover: $c-darker-grey;

// main_content areas
$c-content-header-bg: $c-white;
$c-content-section-title: $c-lightest-grey;

// tables
$c-table-th: $c-grey;
$c-table-tr-even: $c-lightest-grey;
$c-table-td: $c-near-white;
$c-table-tr-hover: $c-white;
$c-tablesorter-icon: $c-darker-grey;
$c-table-filter-header: $c-darkest-grey;
$c-table-filter-input: $c-dark-grey;

// forms
$c-form-submit: $c-white;
$c-form-submit-gradient-start: $c-darkest-grey;
$c-form-submit-gradient-end: $c-dark-grey;
$c-form-button: $c-dark-grey;
$c-form-button-gradient-start: $c-lightest-grey;
$c-form-button-gradient-end: $c-light-grey;
$c-form-file-link-bg: $c-grey;
$c-form-file-link-bg-hover: $c-grey;
$c-form-table-bg: $c-light-grey;
$c-chosen-gradient-start: $c-lightest-grey;
$c-chosen-gradient-end: $c-light-grey;
$c-chosen-multi-bg: $c-lightest-grey;
$c-chosen-multi-text: $c-dark-grey;
$c-chosen-multi-delete: $c-darker-grey;

$c-markdown-border: $c-grey;

// Yes / No Sliders
$c-slider-no-color: $c-mid-grey;
$c-slider-no-bg: $c-darker-grey;
$c-slider-border: $c-grey;

// Modal
$c-modal-overlay-bg: $c-mid-grey;
$c-modal-bg: $c-dark-grey;
$c-modal-text: $c-darker-grey;

// login page
$c-login-footer-all: $c-darker-grey;
$c-login-box_shadow: $c-mid-grey;

// Notices and Errors
$c-notice-bg: #d8f0d0;
$c-notice-content: #4c884e;
$c-warning-bg: #f7f2c8;
$c-warning-content: #ca953a;
$c-error-bg: #f6cfcf;
$c-error-content: #b75553;

$mobilenav-transition: margin-left .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
