//////////////////////////////
// Project Specific Variables
//////////////////////////////

// Project Specific breakpoints
$breakpoints: (
  // @depreciation - remove page_header_save_block in v2.0
  'page_header_save_block': ( max-width:  615px ),
  'login_container':        ( min-width: 700px ),
  'login_submit':           ( min-width: 475px ),
);

// Merge $fine_breakpoints and $breakpoints to use with bp() mixin
$breakpoints: map-merge($fine-breakpoints, $breakpoints);

// widths, padding, margins, and the like
$content-buffer: 30px;

$sidenav_width: 250px;
$sidenav-padding-one-level: 10px;
$sidenav-padding-base-level: $content-buffer;
$sidenav-active-border-width: 7px;

// TYPOGRAPHY
$f-lato: "Lato", $f-sans;

// In order from dark to light
// These are stacked in 10s so new colors can be easily inserted between if/when this list changes
$grays: (
  10: #1e1e1e,
  20: #261c16,
  30: #222,
  40: #252525,
  50: #2b2b2b,
  60: #333,
  70: #303030,
  80: #3b3b3b,
  90: #454545,
  100: #555,
  110: #595959,
  120: #777,
  130: #999,
  140: #aaa,
  150: #ccc,
  160: #ddd,
  170: #d6d6d6,
  180: #dedede,
  190: #dfdfdf,
  200: #eee,
  210: #e1e1e1,
  220: #e7e7e7,
  230: #ebebeb,
  240: #f2f2f2,
  250: #f7f7f7,
  260: #f9f9f9,
  270: #fdfdfd,
  280: #fefefe
);

// Functional name for colors
// Avoid assigning variables to variables (i.e. $c-text: $c-light_grey)
$c-near-black: gray(20);
$c-grey: gray(110);
$c-light_grey: gray(130);
$c-lighter_grey: gray(150);
$c-lightest_grey: gray(200);
$c-near-white: gray(250);

$c-body-bg: gray(250);
$c-text: gray(110);
$c-text-sub: gray(130);
$c-text-sub-hover: gray(150);
$c-text-heavy: gray(50);
$c-box_shadow: gray(150);
$c-border: gray(150);

// header area
$c-header-bg: gray(10);
$c-header-dropdown-bg: gray(80);

// nav area
$c-nav-link: gray(70);
$c-nav-bg-hover: gray(170);
$c-nav-sub-bg-active: gray(180);
$c-nav-sub-bg-active-highlight: gray(170);
$c-nav-icons: gray(130);
$c-nav-icons-hover: gray(120);

// main_content areas
$c-content-header-bg: gray(270);
$c-content-section-title: gray(200);

// tables
$c-table-th: gray(190);
$c-table-th-highlight: gray(220);
$c-table-tr-even: gray(240);
$c-table-td: gray(260);
$c-table-tr-hover: gray(280);
$c-tablesorter-icon: gray(130);
$c-table-filter-header: gray(30);
$c-table-filter-input: gray(60);

// forms
$c-form-submit: $c-white;
$c-form-submit-gradient-start: gray(90);
$c-form-submit-gradient-end: gray(40);
$c-form-button: gray(100);
$c-form-button-gradient-start: gray(200);
$c-form-button-gradient-end: gray(210);
$c-form-file-bg: gray(250);
$c-form-file-link-bg: gray(250);
$c-form-file-link-bg-hover: gray(160);
$c-form-table-bg: gray(230);
$c-chosen-gradient-start: gray(200);
$c-chosen-gradient-end: gray(210);
$c-chosen-multi-bg: gray(200);
$c-chosen-multi-text: gray(100);
$c-chosen-multi-delete: gray(130);

$c-markdown-border: gray(160);

// Yes / No Sliders
$c-slider-no-color: gray(150);
$c-slider-no-bg: gray(130);
$c-slider-border: gray(180);

// Notices and Errors
$c-notice-bg: #d8f0d0;
$c-notice-content: #4c884e;
$c-warning-bg: #f7f2c8;
$c-warning-content: #ca953a;
$c-error-bg: #f6cfcf;
$c-error-content: #b75553;

// Modal
$c-modal-overlay-bg: gray(150);
$c-modal-bg: gray(60);
$c-modal-text: gray(130);

// login page
$c-login-footer-all: gray(140);
$c-login-box_shadow: gray(150);

$mobilenav-transition: margin-left .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
