.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/public/system/uploads/*
spec/dummy/public/uploads/*

spec/dummy/public/system/uploads/*
spec/dummy/public/uploads/*

/tmp

.rvmrc
.ruby-gemset
.ruby-version
.rbenv-gemsets
.DS_Store

.rubocop.yml

*.gem

/vendor
docker-compose.override.yml
.env

# Vite Ruby
/public/vite*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local

