  version: '3.3'
  volumes:
    gems:
  services:
    app:
      stdin_open: true
      tty: true
      build:
        context: .
        dockerfile: ./Dockerfile.dev
      working_dir: /app/spec/dummy
      command: /bin/bash -c "bundle check || bundle install && bundle exec rails s -p 3000 -P /tmp/puma.pid -b 0.0.0.0"
      volumes:
        - gems:/gems
        - .:/app
      ports:
        - '3000:3000'
      depends_on:
        - db
      environment:
        - RAILS_ENV=development
        - DEV_MYSQL_HOST=db
        - FINE_NETLIFY_API_TOKEN=test
        - FINE_NETLIFY_API_USER=test
        - CLOUDFLARE_ACCOUNT_ID=8459b4637ecbaff0a78c183fbef15448
        - CLOUDFLARE_API_TOKEN=3L86oIefi0caZVdDBjtQDN2NAjzZj7qU8-s2p9Fp
    db:
      # image: postgres
      # volumes:
      #   - ./tmp/db:/var/lib/postgresql/data
      # environment:
      #   POSTGRES_PASSWORD: password
      # ports:
      #   - "5432:5432"
      image: mariadb
      environment:
        - MYSQL_ROOT_PASSWORD=
        - MYSQL_ALLOW_EMPTY_PASSWORD='yes'
      ports:
        - '3307:3306'
      volumes:
        - /private/app/dbs:/var/lib/mysql
