.error {
  background-image: image-url('error_bg.jpg');
  overflow: hidden;
  padding-top: 0;
}

.error-main_content {
  position: absolute;
  display: inline-block;
  margin: auto;
  top: 100px;
  right: 0;
  left: 0;
  max-width: 700px;
  min-width: 235px;
  width: 100%;
  height: 330px;
  padding: 35px;
  border-top: 8px solid #31a7e6;
  @include border-radius(4px);
  background: white;
  color: #595959;
  line-height: 1.5;
  font-size: 13px;
  @include box-shadow(0, 3px, 8px, 0, #cccccc);

  p {
    margin-top: 30px;
    font-size: 16px;
  }
}

.center {
  text-align: center;
}

.sad_face {
  margin-top: 40px;
  width: 50px;
}