.error {
  background-image: image-url('error_bg.jpg');
  padding-top: 100px;

  section {
    margin: 0 auto;
    max-width: 700px;
    min-width: 235px;
    height: 330px;
    padding: 35px;
    border-top: 8px solid $c-custom-highlight;
    border-radius: 4px;
    background: white;
    color: $c-grey;
    line-height: 1.5;
    font-size: 13px;
    box-shadow: 0 3px 8px 0 $c-lighter_grey;

    p {
      margin-top: 30px;
      font-size: 16px;
    }
  }
}

.center {
  text-align: center;
}

.sad_face {
  margin-top: 40px;
  width: 50px;
}
