.help-section {
  h3 {
    color: $c-text-heavy;
    font-size: 20px;
    padding-top: 10px;
  }

  p {
    color: $c-text-heavy;
    font-size: 15px;
    line-height: 1.4;
    margin: 0;
  }

  strong {
    font-weight: bold;
  }
}
