.tutorial {
  div {
    background-image: image-url('fae/tutorial_model_location.png');
    height: 11em;
    margin-left: 2em;
    background-size: 60%;
    background-position: left;
    background-repeat: no-repeat;
  }

  @media (max-width: 800px){
    height: 8em;
  }

  p {
    margin: 2em;
  }
}
