.login-body {
  height: auto;
  padding: 0 20px;

  .alert {
    width: 100%;
  }
}

.login-content {
  width: 100%;
  max-width: 700px;
  padding-top: 55px;
  margin: 20px auto;
}

.login-area {
  border-top: 10px solid $c-custom-highlight;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 $c-grey;
  background: $c-white;

  img,
  h1 {
    display: block;
    margin: 25px auto;
    text-align: center;
  }
}

.login-form {
  width: 50%;
  margin: auto;

  @include bp(login_container) {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 35px 23px;
    border-left: 1px solid $c-border;
    margin-left: -6px;
  }

  input[type=text],
  input[type=password],
  input[type=email] {
    width: 100%;
    min-width: 100%;
  }

  input[type=submit] {
    margin-top: 20px;

    @include bp(login_submit) {
      float: right;
      margin: 0;
    }
  }
}

.login-logo {
  @include bp(login_container) {
    display: inline-block;
    vertical-align: center;
    width: 50%;
  }

  img {
    max-height: 235px;
  }
}

.login-form-password {
  @extend .login-form;
  width: 75%;
  padding: 75px 23px;

  @include bp(login_container) {
    width: 50%;
  }
}
.login-form-actions {

  @include clearfix;
  padding-bottom: 20px;

  @include bp(login_container) {
    padding: 0;
  }

  .boolean {
    margin: 12px 0 0 0;
  }

  a {
    display: inline-block;
    padding-top: 15px;
    font-size: 13px;
  }

  .input.boolean {
    max-width: 140px;
  }

  label .label_inner {
    max-width: none;
  }
}

input {
  &.login-form-actions-submit[type="submit"] {
    @include bp(login_submit) {
      margin-top: -27px;
    }
  }
}

.login-helper {
  font-size: 13px;
  color: $c-darker-grey;
}

.login-footer {
  margin-top: 10px;

  .credit,
  .login-helper {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }
}

.login-form-password {
  label {
    margin-bottom: 10px;

    & + label {
      margin-bottom: 15px;
    }
  }
}

.first_user-form {
  @extend .login-form;

  p {
    margin-bottom: 30px;
  }

  input[type=submit] {
    float: none;
  }
}
