== render 'fae/shared/index_header', title: @klass_humanized.pluralize.titleize

main.content
  == render 'fae/shared/index_table',
    sort_rows: true,
    edit_label: 'Title',
    edit_path: :edit_admin_article_path,
    items: @article_categories,
    collapsible: { default_all_open: false, name: :name, items: :articles }
