// This legacy file is to preserve style for apps pre-1.3
// @depreciation - This file should be deleted ENTIRELY in v2.0 (TS)

.main_table-header-modified {
  width: 200px;
  text-align: center;
}

.main_table-header-clone {
  text-align: center;
}

.main_table-header-live {
  width: 80px;
  text-align: center;
}

.main_table-header-delete {
  width: 90px;
  text-align: center;
}

.main_table-header-edit {
  width: 65px;
  text-align: center;
}

.main_table-edit,
.main_table-delete {
  width: 1px;
  text-align: center;

  a {
    color: $c-text-sub;

    &:hover {
      color: $c-text;
    }
  }
}

// content secitons
.main_content-section {
  width: 100%;

  &.extra-bottom-padding {
    padding-bottom: 200px;
  }
}

.main_content-section-area {
  @extend .content;
}

.main_content-section-title {
  padding: 17px 40px;
  color: $c-text-heavy;
  background: $c-content-section-title;
  border-top: 1px solid $c-border;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2em;

  .main_content-section:first-child & {
    border-top: 0;
  }
}


///////////////////////////////
//   Hacks to fix updates    //
///////////////////////////////


.content {
  .main_content-section-area {
    padding: 0;
  }
}

.main_content-section {
  .js-addedit-form {
    @extend .content;

    .form_content-wrapper {
      h2 {
        letter-spacing: 0;
        text-transform: none;
        border: 0;
        padding: 0;
        margin: 0 auto 30px;
        background: none;
      }
    }
  }
}

// content header
.main_content-header {
  @include clearfix;
  width: 100%;
  padding: 15px 20px 15px 40px;
  background: $c-content-header-bg;
  border-bottom: 1px solid $c-border;

  h1 {
    padding: 5px 0;
    font-weight: bold;
  }
}

.main_content-header-wrapper {
  position: relative;

  .content-header-buttons {
    display: none;
  }
}

.main_content-breadcrumbs {
  padding-bottom: 5px;
}

.content-header {
  ~ .main_content-sections {
    // height of content header minus 30
    padding-top: 76px;
  }
}

.main_content-header-save,
.main_content-header-csv {
  margin-top: 30px;

  @include bp(medium) {
    position: absolute;
    right: 30px;
    bottom: 22px;
    margin-top: 0;
  }

  @include bp(page_header_save_block) {
    position: relative;
    top: 0;
    padding-bottom: 10px;
  }

  .main_content-header-section + & {
    margin-bottom: 30px;
  }
}

.main_content-header-csv {
  @include bp(medium) {
    right: 155px;
  }
}

.main_content-header-save {
  a:not(.add-button) {
    @extend %gray-button;
    font-size: 13px;
    margin-right: 5px;
  }

  input[type=submit] {
    padding: 10px 14px 11px;
  }

  .clone-button{
    font-size: 13px;
    margin-left: 5px;
  }
}

.main_content-header-section-links {
  margin-top: 5px;

  @include bp(large) {
    margin-bottom: -15px;
  }

  a {
    @include transition(all .2s);
    display: inline-block;
    vertical-align: top;
    padding: 8px 0;
    border-bottom: 5px solid $c-content-header-bg;
    margin: 0 8px;
    font-size: 13px;
    color: $c-text-sub;

    &:hover {
      color: $c-text-heavy;
      border-bottom-color: $c-custom-highlight;
    }
  }

  li {
    display: inline-block;
    vertical-align: top;

    &:first-child {
      a {
        margin-left: 0;
      }
    }

    &.-active {
      a {
        color: $c-text-heavy;
        border-bottom-color: $c-custom-highlight;
      }
    }
  }
}

.content-header-buttons {
  ~ .main_content-header-save {
    display: none;
  }
}


///////////////////////////////
// Elements not found in Fae //
///////////////////////////////



.main_table-description-item-sub {
  margin-top: 7px;
  font-size: 12px;
  color: $c-text-sub;
}

.main_table-modified {
  text-align: center;
}

.main_table-live {
  font-weight: bold;
  text-align: center;
}

.main_table-action_menu-trigger {
  @include transition(color .2s);
  padding: 8px 10px;
  font-size: 20px;
  color: $c-text-sub;
  cursor: pointer;

  &.js-active {
    color: $c-text;
  }
}

.main_table-action_menu-content {
  @include transition(opacity .2s);
  position: absolute;
  top: 42px;
  left: -9999px;
  width: 150px;
  padding: 10px 0;
  opacity: 0;
  background: $c-table-action_menu-bg;
  box-shadow: 0 0 5px 1px $c-box_shadow;

  li {
    padding: 7px 20px;
    font-size: 14px;
    color: $c-custom-highlight;
    cursor: pointer;

    &:hover {
      background: $c-table-action_menu-link-bg;
    }
  }

  .js-active + & {
    right: 0;
    left: auto;
    opacity: 1;
  }
}

.main_table-action_menu {
  position: relative;
  display: inline-block;
  float: right;
  border: 1px solid $c-border;
  margin-bottom: 10px;

  border-radius: 2px;

  .icon-arrow_down {
    font-size: 4px;
    vertical-align: middle;
  }

  .icon-settings {
    font-size: 18px;
    vertical-align: middle;
  }
}

.main_table-action-area {
  float: right;
  margin-bottom: 10px;
}

.main_content-section-sub {
  margin-top: 50px;

  &:first-child {
    margin-top: 0;
  }
}

// Button Menu Dropdown
.button-dropdown.button-dropdown {
  @extend button[type=button];
  position: relative;
  padding: 9px 11px;
  z-index: 1;

  &:after {
    @extend .icon-arrow_down:before;
    @include icon-stuff;
    vertical-align: middle;
    font-size: 5px;
    color: $c-text-sub;
  }

  &:hover {
    &:after, .icon-settings {
      color: $c-grey;
    }
  }

  .icon-settings {
    font-size: 17px;
    vertical-align: middle;
    color: $c-text-sub;
  }

  .button-dropdown-menu {
    display: none;
  }
}

.button-dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  width: 240px;
  padding: 9px 15px;
  background: $c-white;
  z-index: 1;
  text-align: left;
  box-shadow: 0 0 5px 1px $c-box_shadow;

  a {
    display: block;
    padding: 5px;
    color: $c-text;
  }
}

.button-dropdown--opened.button-dropdown--opened {
  &:after,
  .icon-settings {
    color: $c-grey;
  }

  .button-dropdown-menu {
    display: block;
  }
}

.table-button-dropdown {
  float: right;
  position: relative;
  bottom: 10px;
}

.sample {
  .notice {
    display: block!important;
    height: 58px !important;
  }

  .error {
    padding: 20px;
    border-style: solid;
    border-left-width: 3px;
    border-color: $c-warning-content;
    background: $c-warning-bg;
    color: $c-warning-content;

    &:before {
      @extend .icon-alert:before;
      @include icon-stuff;
      margin-right: 10px;
    }

    + .content.content {
      padding-top: 0;
    }
  }
}

// used for the sample pages only
.sample-modals {
  .simplemodal-container {
    width: 400px;
  }
}

// pagination
.pagination {
  font-size: 12px;
  font-weight: bold;

  li {
    display: inline-block;
    margin-left: -4px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    @include gradient-vertical($start-color: $c-form-button-gradient-start, $end-color: $c-form-button-gradient-end);
    display: block;
    padding: 10px;
    min-height: 30px;
    min-width: 35px;
    border: 1px solid $c-border;
    text-align: center;
    color: $c-grey;

    &:hover {
      color: $c-white;
      background: $c-custom-highlight;
    }
  }
}

.pagination-ellipsis {
  span {
    display: block;
    padding: 10px;
    min-height: 30px;
    min-width: 35px;
    border: 1px solid $c-border;
    text-align: center;
    color: $c-grey;
    background: $c-lightest_grey;
  }
}

.sidenav-third-link {
  @include bp(large) {
    padding: 10px 10px 10px 30px;
  }
}
