// This legacy file is to preserve style for apps pre-1.4

.main_table-header-modified {
  width: 200px;
  text-align: center;
}

.main_table-header-clone {
  text-align: center;
}

.main_table-header-live {
  width: 80px;
  text-align: center;
}

.main_table-header-delete {
  width: 90px;
  text-align: center;
}

.main_table-header-edit {
  width: 65px;
  text-align: center;
}

.main_table-edit,
.main_table-delete {
  width: 1px;
  text-align: center;

  a {
    color: $c-text-sub;

    &:hover {
      color: $c-text;
    }
  }
}

// content secitons
.main_content-section {
  width: 100%;

  &.extra-bottom-padding {
    padding-bottom: 200px;
  }
}

.main_content-section-area {
  @extend .content;
}

.main_content-section-title {
  padding: 17px 40px;
  color: $c-text-heavy;
  background: $c-content-section-title;
  border-top: 1px solid $c-border;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2em;

  .main_content-section:first-child & {
    border-top: 0;
  }
}


///////////////////////////////
// Elements not found in Fae //
///////////////////////////////



.main_table-description-item-sub {
  margin-top: 7px;
  font-size: 12px;
  color: $c-text-sub;
}

.main_table-modified {
  text-align: center;
}

.main_table-live {
  font-weight: bold;
  text-align: center;
}

.main_table-action_menu-trigger {
  @include transition(color .2s);
  padding: 8px 10px;
  font-size: 20px;
  color: $c-text-sub;
  cursor: pointer;

  &.js-active {
    color: $c-text;
  }
}

.main_table-action_menu-content {
  @include transition(opacity .2s);
  position: absolute;
  top: 42px;
  left: -9999px;
  width: 150px;
  padding: 10px 0;
  opacity: 0;
  background: $c-table-action_menu-bg;
  box-shadow: 0 0 5px 1px $c-box_shadow;

  li {
    padding: 7px 20px;
    font-size: 14px;
    color: $c-custom-highlight;
    cursor: pointer;

    &:hover {
      background: $c-table-action_menu-link-bg;
    }
  }

  .js-active + & {
    right: 0;
    left: auto;
    opacity: 1;
  }
}

.main_table-action_menu {
  position: relative;
  display: inline-block;
  float: right;
  border: 1px solid $c-border;
  margin-bottom: 10px;

  border-radius: 2px;

  .icon-arrow_down {
    font-size: 4px;
    vertical-align: middle;
  }

  .icon-settings {
    font-size: 18px;
    vertical-align: middle;
  }
}

.main_table-action-area {
  float: right;
  margin-bottom: 10px;
}

.main_content-section-sub {
  margin-top: 50px;

  &:first-child {
    margin-top: 0;
  }
}

// Button Menu Dropdown
.button-dropdown.button-dropdown {
  @extend button[type=button];
  position: relative;
  padding: 9px 11px;
  z-index: 1;

  &:after {
    @extend .icon-arrow_down:before;
    @include icon_stuff;
    vertical-align: middle;
    font-size: 5px;
    color: $c-text-sub;
  }

  &:hover {
    &:after, .icon-settings {
      color: $c-grey;
    }
  }

  .icon-settings {
    font-size: 17px;
    vertical-align: middle;
    color: $c-text-sub;
  }

  .button-dropdown-menu {
    display: none;
  }
}

.button-dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  width: 240px;
  padding: 9px 15px;
  background: $c-white;
  z-index: 1;
  text-align: left;
  box-shadow: 0 0 5px 1px $c-box_shadow;

  a {
    display: block;
    padding: 5px;
    color: $c-text;
  }
}

.button-dropdown--opened.button-dropdown--opened {
  &:after,
  .icon-settings {
    color: $c-grey;
  }

  .button-dropdown-menu {
    display: block;
  }
}

.table-button-dropdown {
  float: right;
  position: relative;
  bottom: 10px;
}

.sample {
  .notice {
    display: block!important;
    height: 58px !important;
  }

  .error {
    @extend %alerts;
    border-color: $c-warning-content;
    background: $c-warning-bg;
    color: $c-warning-content;

    &:before {
      @extend .icon-alert:before;
    }
  }
}

// used for the sample pages only
.sample-modals {
  .simplemodal-container {
    width: 400px;
  }
}

// pagination
.pagination {
  font-size: 12px;
  font-weight: bold;

  li {
    display: inline-block;
    margin-left: -4px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    @include gradient-vertical($start-color: $c-form-button-gradient-start, $end-color: $c-form-button-gradient-end);
    display: block;
    padding: 10px;
    min-height: 30px;
    min-width: 35px;
    border: 1px solid $c-border;
    text-align: center;
    color: $c-grey;

    &:hover {
      color: $c-white;
      background: $c-custom-highlight;
    }
  }
}

.pagination-ellipsis {
  span {
    display: block;
    padding: 10px;
    min-height: 30px;
    min-width: 35px;
    border: 1px solid $c-border;
    text-align: center;
    color: $c-grey;
    background: $c-lightest_grey;
  }
}
