th {
  &.-live {
    text-align: center;
  }

  &.-action {
    width: 40px;
  }

  &.-modified {
    width: 200px;
  }

  &.-live {
    width: 80px;
  }

  &.-thumb {
    width: 150px;
  }
}

.table-action {
  color: $c-darker-grey;
  display: block;
  padding: 2px;
  font-size: 16px;

  &:hover {
    color: $c-mid-dark-grey;
  }
}

td {
  &.-action {
    a {
      @extend .table-action;
      text-decoration: none;
    }
  }
}
