th {
  &.-action {
    width: 60px;
  }

  &.-action-wide {
    width: 120px
  }

  &.-thumb {
    width: 150px;
  }
}

td {
  &.-action {
    text-align: center;

    a {
      color: $c-darker-grey;
      display: block;
      padding: 2px;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        color: $c-mid-dark-grey;
      }
    }
  }

  i + a {
    display: inline-block;
    padding-left: 8px;
  }
}
