.js-alt-text-label {
  margin-bottom: 10px;
}

.js-alt-text-input {
  display:none;
}

.js-alt-text-input {
  min-width: 100px;
}

.edit-alt {
  margin: 0 10px 5px 0;
}

@media (min-width: 768px) {
  th.-alt-text {
    width: 300px;
  }
}