.collapsible {
  margin-bottom: 10px;

  &.active {
    h3 {
      border-bottom: none;

      &:after {
        content: fae-icon(arrow_up);
      }
    }

    table:not(.sticky-table-header) {
      display: table;
    }
  }

  table {
    display: none;
  }

  h3 {
    background: $c-white;
    padding: 20px 0 20px 37px;
    position: relative;
    border: 1px solid $c-border;
    cursor: pointer;
    margin-bottom: 0;

    &:after {
      @include icon-stuff;
      content: fae-icon(arrow_down);
      color: $c-text-sub;
      position: absolute;
      right: 25px;
      top: 22px;
      font-size: 4px;
    }

    &:hover {
      &:after {
        color: $c-black;
      }
    }
  }
}

.collapsible-toggle {
  text-align: right;
  margin: 0 0 $content-buffer;
  cursor: pointer;
  padding-right: 25px;

  &:after {
    @include icon-stuff;
    content: fae-icon(arrow_down);
    color: $c-text-sub;
    font-size: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: -3px;
  }

  &:hover {
    &:after {
      color: $c-black;
    }
  }

  &.close-all {
    &:after {
      content: fae-icon(arrow_up);
    }
  }
}
