// Filters!

.table-filter-drawer_trigger {
  color: $c-text-heavy;
  background: $c-table-th;
  padding: 12px 20px;
  display: block;
  span {
    padding-right: .9em;
    position: relative;
    &:after {
      position: absolute;
      top: 7px;
      right: 0;
      font-size: 5px;
      @extend .icon-arrow_down:before;
      @include icon-stuff;
      @include transition(transform 0.2s);
      transition-timing-function: linear;
      .js-show_filters & {
        transform: rotate(-90deg);
      }
    }
  }
}

.js-filter-form {
  overflow: hidden;
  @include transition(all, 0.2s);
  transition-timing-function: linear;
  max-height: 1000px;
  .js-show_filters & {
    max-height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: $content-buffer;
  }
}

.table-filter-area {
  position: relative;
  padding: 20px;
  border: 1px solid $c-grey;
  border-bottom: 0;
  background: $c-form-table-bg;

  input[type=submit],
  .button {
    display: none;
  }

  h4 {
    margin-bottom: 20px;
    color: $c-table-filter-header;
    font-size: 16px;
  }

  label {
    margin-bottom: 5px;
    color: $c-table-filter-header;
    font-size: 12px;
  }

  input[type=text] {
    padding: 5px 30px 5px 10px;
    font-size: 12px;
    color: $c-dark-grey;
    border-radius: 20px;
  }
}

.table-filter-header {
  @include clearfix;

  h4 {
    display: inline-block;
  }
}

.table-filter-keyword-wrapper {
  position: relative;
  float: right;

  i {
    position: absolute;
    top: 5px;
    right: 12px;
    cursor: pointer;
  }
}

.table-filter-group-wrapper {
  @include clearfix;
}

.table-filter-group {
  display: inline-block;
  margin: 0 30px 20px 0;
}
