// pagination
.pagination {
  margin: 30px 0;
  font-size: 12px;
  font-weight: bold;

  a, .gap, .current {
    display: inline-block;
    padding: 10px;
    min-height: 30px;
    min-width: 35px;
    border: 1px solid $c-border;
    text-align: center;
  }

  a {
    @include gradient-vertical($start-color: $c-light-button-gradient-start, $end-color: $c-light-button-gradient-end);
    color: $c-mid-dark-grey;

    &:hover {
      color: $c-white;
      background: var(--highlight-color);
    }
  }

  .gap {
    color: $c-mid-grey;
  }

  .current {
    color: $c-white;
    background: var(--highlight-color);
  }
}
