.result-count {
  /*
  padding-top: 14px;
  font-size: 11px;
  line-height: 11px;
  text-align: right;
  font-weight: bold;

  &:first-child {
    padding-top: 0;
    margin-top: -11px;
    padding-bottom: 11px;
  }
  */
}