.tooltip {
  @include transition(opacity 0.2s);
  @include triangle(bottom, $c-darkest-grey, 4px);
  background: $c-darkest-grey;
  color: $c-white;
  opacity: 0;
  position: absolute;
  top: -25px;
  left: 0;
  border-radius: 2px;
  font-size: 10px;
  padding: 5px;
  width: 100%;
}

.tooltip-parent {
  position: relative;

  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
}
