[class^="icon-"], [class*=" icon-"] {
	@include icon-stuff;
}

.icon-bars:before {
	content: "\e901";
}
.icon-heavy_plus:before {
	content: "\e61a";
}
.icon-arrow_down:before {
	content: "\e600";
}
.icon-zoom:before {
	content: "\e601";
}
.icon-users:before {
	content: "\e602";
}
.icon-user:before {
	content: "\e603";
}
.icon-trash:before {
	content: "\e604";
}
.icon-support:before {
	content: "\e605";
}
.icon-sort:before {
	content: "\e606";
}
.icon-settings:before {
	content: "\e607";
}
.icon-search:before {
	content: "\e608";
}
.icon-plus:before {
	content: "\e609";
}
.icon-offlink:before {
	content: "\e60a";
}
.icon-menu:before {
	content: "\e60b";
}
.icon-logout:before {
	content: "\e60c";
}
.icon-home:before {
	content: "\e60d";
}
.icon-edit:before {
	content: "\e60e";
}
.icon-delete_x:before {
	content: "\e60f";
}
.icon-chevron_right:before {
	content: "\e610";
}
.icon-chevron_left:before {
	content: "\e611";
}
.icon-check:before {
	content: "\e612";
}
.icon-calendar:before {
	content: "\e613";
}
.icon-pulldown:before {
	content: "\e614";
}
.icon-arrow_up:before {
	content: "\e615";
}
.icon-handle:before {
	content: "\e616";
}
.icon-alert:before {
	content: "\e617";
}
.icon-chevron_up:before {
	content: "\e618";
}
.icon-chevron_down:before {
	content: "\e619";
}
.icon-copy:before {
	content: "\e900";
}
.icon-image:before {
	content: "\e90d";
}
.icon-save:before {
	content: "\e962";
}
.icon-quote:before {
	content: "\e977";
}
.icon-search2:before {
	content: "\e986";
}
.icon-list-ol:before {
	content: "\e9b9";
}
.icon-list-ul:before {
	content: "\e9ba";
}
.icon-link:before {
	content: "\e9cb";
}
.icon-minus:before {
	content: "\ea0b";
}
.icon-font:before {
	content: "\ea61";
}
.icon-bold:before {
	content: "\ea62";
}
.icon-underline:before {
	content: "\ea63";
}
.icon-italic:before {
	content: "\ea64";
}
.icon-code:before {
	content: "\ea80";
}
.icon-fullscreen:before {
	content: "\e61e";
}
.icon-question:before {
	content: "\e61b";
}
.icon-eye:before {
	content: "\e61c";
}
.icon-columns:before {
	content: "\e61d";
}
