// plugin overrides
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background-image: image-url('fae/chosen/chosen-sprite.png')
}

.chosen-container-single .chosen-search input[type="text"] {
  background: $c-white image-url('fae/chosen/chosen-sprite.png') no-repeat 100% -20px;
  background: image-url('fae/chosen/chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, $c-lightest-grey), color-stop(15%, $c-white));
  background: image-url('fae/chosen/chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient($c-lightest-grey 1%, $c-white 15%);
  background: image-url('fae/chosen/chosen-sprite.png') no-repeat 100% -20px, -moz-linear-gradient($c-lightest-grey 1%, $c-white 15%);
  background: image-url('fae/chosen/chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient($c-lightest-grey 1%, $c-white 15%);
  background: image-url('fae/chosen/chosen-sprite.png') no-repeat 100% -20px, linear-gradient($c-lightest-grey 1%, $c-white 15%);
}

.chosen-rtl .chosen-search input[type="text"] {
  background: image-url('fae/chosen/chosen-sprite.png') no-repeat -30px -20px;
  background: image-url('fae/chosen/chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, $c-lightest-grey), color-stop(15%, $c-white));
  background: image-url('fae/chosen/chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient($c-lightest-grey 1%, $c-white 15%);
  background: image-url('fae/chosen/chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient($c-lightest-grey 1%, $c-white 15%);
  background: image-url('fae/chosen/chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient($c-lightest-grey 1%, $c-white 15%);
  background: image-url('fae/chosen/chosen-sprite.png') no-repeat -30px -20px, linear-gradient($c-lightest-grey 1%, $c-white 15%);
}
