<div class="main_content-header-wrapper">
  <div class="center">
    <%= image_tag 'fae/error_sad_face.png', class: 'sad_face' %>
    <h1>Oops!</h1>
  </div>

  <p>The page you requested can not be found. Please <%= link_to "click here", fae.root_path %> to be taken to our home page.</p>
</div>