ruby:
	form_options = {
		html: {
			multipart: true,
			novalidate: true,
			class: 'js-file-form',
			remote: true,
			data: {
				type: "html",
				form_manager_model: @item.fae_form_manager_model_name,
				form_manager_info: (@form_manager.present? ? @form_manager.to_json : nil)
			}
		}
	}
= simple_form_for([:admin, @item], form_options) do |f|
  = fae_input f, :name
  = fae_input f, :people, collection: ['Alice', 'Bob', 'Charlie', 'Diana']

  = fae_image_form f, :image
  = f.hidden_field :static_page_id

  = f.button :submit, t('fae.form.save'), data: { disable_with: t('fae.form.saving') }
  = button_tag 'Cancel', type: 'button', class: 'js-cancel-nested cancel-nested-button'

  - if Fae.use_form_manager
    a.button.js-launch-form-manager href='#' = t('fae.form.launch_form_manager')

- if @item.persisted?
  .nested-form 
    == render 'fae/shared/nested_table',
      assoc: :sub_list_items,
      parent_item: @item,
      cols: [:name, :on_stage, :on_prod],
      ordered: true
