<% attrs = @form_attrs + @toggle_attrs -%>
== render 'fae/shared/index_header', title: @klass_humanized.pluralize.titleize

main.content
  == render 'fae/shared/index_table',
<% if @has_position -%>
    sort_rows: true,
<% end -%>
    edit_label: '<%= @display_field.present? ? @display_field.titleize : 'Name' %>',
    edit_path: :edit_<%= options.namespace %>_<%= class_name.underscore %>_path,
    cols: [<%= attrs.map {|attr| ":#{attr}"}.join(', ') %>]
