section.js-index-addedit-form
  == render 'fae/shared/index_header', nested: true

  == render 'fae/shared/nested_table',
    assoc: :<%= file_name.pluralize %>,
    index: true,
    ordered: <%= @has_position %>,
    cols: [<%= @form_attrs.map {|attr| ":#{attr}"}.join(', ') %>]
