ruby:
	form_options = {
		url: fae.update_content_block_path(slug: @item.slug),
		method: :put,
		html: {
			data: {
				form_manager_model: @item.fae_form_manager_model_name,
				form_manager_model_id: @item.fae_form_manager_model_id,
				form_manager_info: (@form_manager.present? ? @form_manager.to_json : nil)
			}
		}
	}
= simple_form_for @item, form_options do |f|
  == render 'fae/shared/form_header', header: @item

  main.content
    = fae_input f, :title

<% @attributes.each do |attr, type| -%>
<% if ["Fae::TextArea", "Fae::TextField"].include? type -%>
    = fae_content_form f, :<%= attr %>
<% elsif "Fae::Image" == type -%>
    = fae_image_form f, :<%= attr %>
<% elsif "Fae::File" == type -%>
    = fae_file_form f, :<%= attr %>
<% elsif "Fae::Cta" == type -%>
    = fae_cta_form f, :<%= attr %>
<% end -%>
<% end -%>
