ruby:
  require_locals ['f'], local_assigns
  item                ||= f.object
  image_name          ||= :image
  the_image             = item.send(image_name)
  label               ||= image_name.to_s.humanize
  alt_label           ||= "#{label} alt text"
  caption_label       ||= "#{label} caption"
  helper_text         ||= ""
  alt_helper_text     ||= ""
  caption_helper_text ||= ""
  show_alt              = true if show_alt.nil?
  show_caption        ||= false
  required            ||= false

= f.simple_fields_for image_name do |i|
  .field.input
    label class="#{'required' if required}"
      - if required
        abbr title="required" *

      = label.html_safe

      - if helper_text.present?
        h6.helper_text = helper_text

    - if the_image.asset.present?
      .asset-actions
        span.asset-actions-image-name = the_image.asset.file.filename
        img.js-image-modal src=the_image.asset.url
        = link_to 'Replace Image', the_image.asset.url, class: 'js-asset-delete-link asset-actions-image-link', remote: true, method: :delete, data: { confirm: t('fae.delete_confirmation') } if the_image.id.present?

        = link_to '', fae.delete_image_path(the_image.id), class: 'js-asset-delete-link icon-delete_x', remote: true, method: :delete, data: { confirm: t('fae.delete_confirmation') } if the_image.id.present?

    .asset-inputs style="#{'display:none;' if the_image.asset.present?}"
      = i.input :asset, as: :file, label: false
      = i.input :asset_cache, as: :hidden
      = i.input :attached_as, as: :hidden, input_html: { value: image_name.to_s }

  - if show_caption
    ruby:
      options = { label: caption_label.html_safe }
      options[:helper_text] = caption_helper_text if caption_helper_text.present?

    = fae_input i, :caption, options

  - if show_alt
    ruby:
      options = { label: alt_label.html_safe }
      options[:helper_text] = alt_helper_text if alt_helper_text.present?

    = fae_input i, :alt, options

  = i.hidden_field :required, value: required

