<!DOCTYPE html>
<html>
<head>
  <title>Fae</title>
  <%= stylesheet_link_tag    "fae/application", media: "all" %>
  <%= javascript_include_tag "fae/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
