<!DOCTYPE html>
<html>
<head>
  <title>KimptonAdmin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
