<%= simple_form_for(['admin', @item]) do |f| %>
  <header class="content-header js-content-header">
    <%= render 'fae/shared/form_header', header: @klass_name, f: f, item: @item %>
  </header>

  <section class="content">
    <%= f.input :name %>
  </section>
<% end %>
