/**
 *= require fae/vendor/reset
 *= require fae/vendor/chosen
 *= require fae/vendor/daterangepicker
 *= require fae/vendor/simplemde.min
 *= require fae/vendor/trumbowyg
 *= require fae/vendor/jquery-sortable
 *= require fae/base
 */
