.editor-preview,
.editor-preview-side {
  h1 { font-size: 26px; }
  h2 { font-size: 24px; }
  h3 { font-size: 22px; }
  h4 { font-size: 20px; }
  h5 { font-size: 18px; }
  h6 { font-size: 16px; }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  h1, h2, h3, h4, h5, h6, p, ul, ol {
    background: none;
    border: 0;
    color: black;
    letter-spacing: 0;
    margin: inherit;
    padding: inherit;
    text-transform: inherit;
  }

  ul { list-style: disc; }
  ol { list-style: decimal; }

  ul, ol {
    padding-left: 30px;
  }
}
