= simple_form_for([:admin, @item]) do |f|
  == render 'fae/shared/form_header', header: @klass_name, f: f, item: @item

  section.content
    = fae_input f, :name

    = fae_association f, :contact, collection: Person.all, include_blank: 'None'

    = fae_video_form f, :video, helper_text: 'Similary to images, preview is available after form is saved'
    = fae_image_form f, :image
