.breadcrumbs {
  font-size: 16px;
  color: $c-text-sub;

  li {
    display: inline-block;

    &:after {
      @extend .icon-chevron_right:before;
      @include icon-stuff;
      font-size: 8px;
      display: inline-block;
      padding: 0 10px;
      vertical-align: middle;
    }

    &:last-child {
      &,
      a {
        color: $c-black;
        font-weight: bold;
      }

      &:after {
        display: none;
      }
    }
  }

  a {
    color: inherit;

    &:hover {
      color: $c-custom-highlight;
    }
  }
}
