.main_content-breadcrumbs {
  padding-bottom: 5px;
}

.breadcrumbs {
  li {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    color: $c-text-sub;

    &:first-child:before {
      @extend .icon-chevron_left:before;
      @include icon_stuff;
      font-size: 10px;
    }
  }

  a {
    padding-left: 5px;
    color: $c-custom-highlight;

    &:hover {
      color: $c-text-heavy;
    }
  }
}
