.breadcrumbs {
  font-size: 16px;
  color: $c-darkest-grey;
  padding: 10px 0; // Vertical align hack. Should be removed in an HTML refactor in v2.0

  li {
    display: inline-block;

    &:after {
      @extend .icon-chevron_right:before;
      @include icon-stuff;
      font-size: 8px;
      display: inline-block;
      padding: 0 10px;
      vertical-align: middle;
    }

    &:last-child {
      &,
      a {
        color: $c-darkest-grey;
        font-weight: bold;
      }

      &:after {
        display: none;
      }
    }
  }

  a {
    color: inherit;

    &:not(.-home) {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
