$content-header-padding: 16px;

// content header
.content-header {
  @include stack($fae-nav-stack);
  width: 100%;
  padding: $content-header-padding $content-buffer;
  background: $c-content-header-bg;
  border-bottom: 1px solid $c-grey;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &.-dashboard {
    padding-top: 26px;
    padding-bottom: 26px;
    color: $c-darkest-grey;

    strong {
      color: $c-darkest-grey;
    }
  }

  h1 {
    padding: 5px 0;
    font-weight: bold;
  }
}

.content-header-subnav {
  bottom: 0;
  width: 100%;
  margin-bottom: negate($content-header-padding);
  flex-basis: 100%;

  a {
    @include transition(all .2s);
    display: inline-block;
    vertical-align: top;
    padding: 6px 0;
    border-bottom: 4px solid transparent;
    margin: 0 12px;
    font-size: 13px;
    color: $c-darkest-grey;

    &:hover {
      color: $c-text-heavy;
      border-bottom-color: $c-custom-highlight;
    }
  }

  li {
    display: inline-block;
    vertical-align: top;

    &:first-child {
      a {
        margin-left: 0;
      }
    }

    &.-active {
      a {
        color: $c-text-heavy;
        border-bottom-color: $c-custom-highlight;
      }
    }
  }
}

.content-header-buttons {
  a {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.content-header-select {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;

  a {
    margin-right: 0;
  }

  .chosen-container-single .chosen-single {
    padding-top: 6px;
    padding-bottom: 5px;
  }
}
