// content header
.main_content-header {
  @include clearfix;
  width: 100%;
  padding: 15px 20px 15px 40px;
  background: $c-content-header-bg;
  border-bottom: 1px solid $c-border;

  h1 {
    padding: 5px 0;
    font-weight: bold;
  }
}

.main_content-section-toggles {
  list-style: none;
  margin: -15px 0 30px;

  li {
    display: inline-block;

    a {
      @include transition(color 0s, background 0.4s);
      display: block;
      padding: 11px 13px 10px;
      color: $c-text-sub;
      font-size: 13px;
      border-radius: 0 0 3px 3px;

      &.active,
      &:hover {
        background: $c-custom-highlight;
        color: $c-white;
      }
    }
  }
}

.main_content-header-wrapper {
  position: relative;
}
.main_content-header-section-links {
  margin-top: 5px;
  margin-bottom: -15px;

  @include bp(medium) {
    padding-right: 240px;
  }

  a {
    @include transition(all .2s);
    display: inline-block;
    vertical-align: top;
    padding: 8px 0;
    border-bottom: 5px solid $c-content-header-bg;
    margin: 0 8px;
    font-size: 13px;
    color: $c-text-sub;

    &:hover {
      color: $c-text-heavy;
      border-bottom-color: $c-custom-highlight;
    }
  }

  li {
    display: inline-block;
    vertical-align: top;

    &:first-child a {
      margin-left: 0;
    }
  }
}

.main_content-header-section-links-active a {
  color: $c-text-heavy;
  border-bottom-color: $c-custom-highlight;
}

.main_content-header-save,
.main_content-header-csv {
  margin-top: 30px;

  @include bp(medium) {
    position: absolute;
    right: 30px;
    bottom: 0;
    margin-top: 0;
  }

  @include bp(page_header_save_block) {
    position: relative;
    top: 0;
    padding-bottom: 10px;
  }

  .main_content-header-section + & {
    margin-bottom: 30px;
  }
}

.main_content-header-csv {
  @include bp(medium) {
    right: 155px;
  }
}

.main_content-header-save {
  a:not(.add-button) {
    @extend %gray-button;
    font-size: 13px;
    margin-right: 5px;
  }

  input[type=submit] {
    padding: 10px 14px 11px;
  }

  .clone-button{
    font-size: 13px;
    margin-left: 5px;
  }
}
