// content header
.content-header {
  @include clearfix;
  @include stack($fae-nav-stack);
  width: 100%;
  padding: 16px $content-buffer;
  background: $c-content-header-bg;
  border-bottom: 1px solid $c-grey;
  position: absolute;
  left: 0;
  top: 0;

  &:after {
    content: '';
    display: block;
    height: 100%;
    position: static;
  }

  &.-dashboard {
    padding-top: 26px;
    padding-bottom: 26px;
    color: $c-darker-grey;

    strong {
      color: $c-darkest-grey;
    }
  }

  h1,
  .breadcrumbs {
    @include bp(large) {
      float: left;
    }
  }

  h1 {
    padding: 5px 0;
    font-weight: bold;
  }
}

.main_content-section-toggles {
  list-style: none;
  margin: -16px negate($content-buffer) 5px;
  padding: 0 $content-buffer;

  li {
    display: inline-block;

    a {
      @include transition(color 0s, background 0.4s);
      display: block;
      padding: 11px 13px 10px;
      color: $c-text-sub;
      font-size: 13px;
      border-radius: 0 0 3px 3px;

      &.active,
      &:hover {
        background: $c-custom-highlight;
        color: $c-white;
      }
    }
  }
}

.content-header-subnav {
  position: absolute;
  left: $content-buffer;
  bottom: 0;
  width: 100%;

  a {
    @include transition(all .2s);
    display: inline-block;
    vertical-align: top;
    padding: 8px 0;
    border-bottom: 3px solid transparent;
    margin: 0 8px;
    font-size: 13px;
    color: $c-text-sub;

    &:hover {
      color: $c-text-heavy;
      border-bottom-color: $c-custom-highlight;
    }
  }

  li {
    display: inline-block;
    vertical-align: top;

    &:first-child {
      a {
        margin-left: 0;
      }
    }

    &.-active {
      a {
        color: $c-text-heavy;
        border-bottom-color: $c-custom-highlight;
      }
    }
  }
}

.content-header-buttons {
  margin: 10px 0;

  @include bp(large) {
    float: right;
    margin: 0;
  }

  a {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    &:not(.add-button) {
      @extend %gray-button;
      font-size: 13px;
    }

  }

  input[type=submit] {
    padding: 10px 14px 11px;
  }
}
