/////////////////////////////////////////////
// Shared styles b/w mobilenav and sidenav //
/////////////////////////////////////////////

.nav {
  top: 0;
  left: 0;
  width: $sidenav-width - 30px;
  height: 100%;
  font-size: 15px;
  overflow: auto;

  a {
    display: block;
    color: $c-text;
    position: relative;

    &:hover {
      color: $c-dark-grey;
    }
  }
}
