.mobilenav {
  @include transition($mobilenav-transition);
  position: fixed;
  margin-left: negate($sidenav-width);
  visibility: hidden;
  background: #1e1e1e;

  a {
    color: $c-white;
    padding: 17px 35px 17px 20px;

    &:hover {
      color: $c-white;
    }
  }

  li {
    border-bottom: 1px solid #595959;
    letter-spacing: 0.03em;

    &.mobilenav-user {
      border-bottom: 0;
    }

    &.active {
      background: $c-custom-highlight;
    }
  }

  .subnav {
    @include transition($mobilenav-transition);
    position: fixed;
    top: 0;
    left: 0;
    width: $sidenav-width;
    height: 100%;
    margin-left: negate($sidenav-width);
    overflow: auto;
    padding: 0 5px 10px 0;
    background: #1e1e1e;
  }
}

.mobilenav-accordion {
  > a {
    @extend %nav-icon;

    &:after {
      @extend .icon-chevron_right:before;
      right: 18px;
      top: 18px;
      font-size: 11px;
    }
  }

  &.-open {
    > ul {
      margin-left: 0;
    }

    > .subnav {
      padding-right: 0;
    }
  }

  .subnav {
    z-index: 1;
    padding-right: 0;
  }
}

.mobilenav-subheader {
  margin-bottom: 0;
  display: block;
  padding: 15px 20px;
  cursor: pointer;
  background: $c-custom-highlight;
  color: $c-white;
  display: flex;

  span {
    &:first-of-type {
      width: 30%;
    }

    &:nth-of-type(2) {
      text-align: center;
    }
  }
}

.mobilenav-toggle {
  display: inline-block;
  vertical-align: middle;
  padding: 14px $content-buffer;
  cursor: pointer;
  color: $c-white;

  @include bp(large) {
    display: none;
  }
}

.mobile-active {
  body,
  .main-header {
    margin-left: $sidenav-width;
  }

  .mobilenav {
    margin-left: 0;
    visibility: visible;
  }

  .mobilenav-toggle {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      height: 2000%;
      width: 2000%;
    }
  }
}

.mobilenav-user {
  padding-top: 40px;

  span {
    color: white;
    font-size: 20px;
  }

  a {
    display: inline-block;
    padding: 0;
    padding-left: 15px;
  }

  li {
    border-bottom: 0;
    padding: 13px 35px 13px 20px;
    display: flex;
    align-items: center;
  }
}

.mobilenav-user-header {
  display: block;
  position: relative;
  padding: 15px 10px 15px 20px;
  cursor: pointer;
  color: $c-black;
  background: $c-mid-grey;
}
