// Utility nav. View Site, Support, Username, etc.
.utility-nav {
  display: none;
  position: absolute;
  top: 0;
  right: $content-buffer;

  @include bp(large) {
    display: block;
  }

  @include bp(large-down) {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 20px;
  }

  a {
    font-size: 16px;
    padding-left: 14px;
    padding-right: 14px;

    &.grabatar-link {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  ul {
    display: none;
  }

  li {
    vertical-align: top;

    &:last-child {
      a {
        padding-right: 0;
      }
    }
  }
}

.utility-dropdown {
  &:hover {
    ul {
      display: block;
    }
  }

  li {
    display: block;
    margin-left: 0;
  }

  ul,
  .utility-search-wrapper {
    display: none;
    background: $c-header-dropdown-bg;
    position: absolute;
    top: 70px;
    z-index: 2;
    font-size: 14px;
  }

  ul {
    width: 150px;
    padding: 8px 0;
    left: 0;

    a {
      padding: 7px 25px;
      font-size: 13px;
    }
  }
}

.grabatar {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  background: $c-custom-highlight;
}

.grabatar-link {
  &:after {
    @extend .icon-arrow_down:before;
    @include icon-stuff;
    font-size: 6px;
    color: $c-text-sub;
    display: inline-block;
    padding-left: 5px;
    vertical-align: middle;
  }
}

.utility-search {
  input[type="text"] {
    background: rgba($c-white, 0.2);
    width: 100%;
    border: 0;
    border-radius: 4px;
    display: block;
  }
}

.utility-search-wrapper {
  padding: 14px 16px;
  width: 270px;
  right: negate($content-buffer);
}

/////////////////////////
//     Typeahead       //
/////////////////////////

.twitter-typeahead {
  // Overrides inline styles
  display: block!important;
}

.tt-menu {
  // Overrides inline styles
  position: static!important;
  margin-top: 10px;
}

.tt-suggestion {
  color: $c-text-sub;
  padding: 8px 10px;
}

.tt-cursor {
  background: rgba($c-white, 0.1);
}

.tt-highlight {
  color: $c-white;
}

.tt-input {
  color: $c-white;
}

.tt-hint {
  color: $c-text-sub;
}
