// Utility nav. View Site, Support, Username, etc.
.utility-nav {
  position: absolute;
  top: 0;
  right: $content-buffer;

  @include bp(large-down) {
    display: none;
  }

  a {
    padding-left: 14px;
    padding-right: 14px;

    &.grabatar-link {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  ul {
    font-size: 16px;
    display: none;
  }

  li {
    vertical-align: top;
  }
}

.utility-dropdown {
  &:hover {
    ul {
      display: block;
    }
  }

  li {
    display: block;
    margin-left: 0;
  }

  ul,
  .utility-search-hit-area {
    position: absolute;
    top: 70px;
    z-index: 2;
    display: none;
  }

  ul,
  .utility-search-wrapper {
    background: $c-header-bg;
    border-top: 1px solid $c-dark-grey;
    font-size: 14px;
  }

  ul {
    width: 140px;
    padding: 8px 0 12px;
    left: -11px;
    font-size: 13px;

    a {
      padding: 7px 25px;
    }
  }
}

.utility-search {
  input[type="text"] {
    background: rgba($c-white, 0.2);
    width: 100%;
    border: 0;
    border-radius: 4px;
    display: block;
    color: $c-white;
  }
}

.utility-search-wrapper {
  padding: 14px 16px;
  width: 320px;

  > ul {
    margin-top: 15px;
    font-size: 15px;
  }

  ul {
    position: static;
    width: 100%;
    border-top: 0;
    padding: 0;
    display: block;

    ul {
      padding-left: 15px;
      max-height: none;
    }

    a {
      padding: 7px 12px;
    }
  }
}

.search-record {
  @include clearfix;

  span {
    float: left;
    width: 50%;

    &:last-child {
      text-align: right;
      font-style: italic;
    }
  }
}

.utility-search-hit-area {
  padding: 0 0 $content-buffer $content-buffer;
  right: negate($content-buffer);
}

.grabatar {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  background: $c-custom-highlight;
}

.grabatar-link {
  &:after {
    @extend .icon-arrow_down:before;
    @include icon-stuff;
    font-size: 6px;
    color: $c-text-sub;
    display: inline-block;
    padding-left: 5px;
    vertical-align: middle;
  }
}
