.flash-message {
  border-style: solid;
  border-left-width: 3px;
  margin: 0 auto;
  padding: 20px;
  width: calc(100% - #{$content-buffer * 2});

  &:before {
    @include icon-stuff;
    margin-right: 10px;
  }

  .sidenav ~ & {
    @include bp(large) {
      margin-left: $sidenav-width + $content-buffer;
      width: calc(100% - #{$sidenav-width + ($content-buffer * 2) });
    }
  }
}

.notice {
  border-color: $c-notice-content;
  background: $c-notice-bg;
  color: $c-notice-content;

  &:before {
    @extend .icon-check:before;
  }
}

.warning {
  border-color: $c-warning-content;
  background: $c-warning-bg;
  color: $c-warning-content;

  &:before {
    @extend .icon-alert:before;
  }
}

.alert {
  border-color: $c-error-content;
  background: $c-error-bg;
  color: $c-error-content;

  &:before {
    @extend .icon-alert:before;
  }
}
