// All buttons

input[type=submit],
button[type=button],
.add-button,
.button {
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  padding: 11px 14px;
  border: 1px solid transparent;
}

// Dark buttons

input[type=submit],
.add-button {
  @include gradient-vertical($start-color: $c-dark-button-gradient-start, $end-color: $c-dark-button-gradient-end);
  color: $c-dark-button;
  border-color: $c-dark-button-gradient-start;

  &:hover {
    background: $c-dark-button-gradient-end;
    color: $c-white;
  }
}

.add-button {
  &:before {
    @extend .icon-heavy_plus:before;
    @include icon-stuff;
    font-size: 12px;
    margin-right: 7px;
  }
}

// Light buttons

button[type=button],
.button {
  @include gradient-vertical($start-color: $c-light-button-gradient-start, $end-color: $c-light-button-gradient-end);
  color: $c-light-button;
  border-color: $c-border;

  &:hover {
    background: $c-light-button-gradient-end;
  }
}

.button {
  &.-small {
    padding: 5px 10px;
    font-size: 12px;
    margin: 3px;

    &:hover {
      color: $c-light-button;
    }
  }
}

.table-filter-controls {
  margin: 12px 0 0;

  @include bp(medium) {
    float: right;
  }

  input[type=submit] {
    @extend .button; // Gray button
    @extend .button.-small; // Small styles
  }
}
