// All buttons
//
input[type=submit],
button[type=button],
.add-button,
.csv-button {
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}

// Dark buttons

input[type=submit],
.add-button {
  @include gradient-vertical($start-color: $c-dark-button-gradient-start, $end-color: $c-dark-button-gradient-end);
  color: $c-dark-button;
  border: 1px solid $c-dark-button-gradient-start;
  padding: 11px 14px;

  &:hover {
    background: $c-dark-button-gradient-end;
  }
}

.add-button {
  &:before {
    @extend .icon-heavy_plus:before;
    @include icon-stuff;
    font-size: 12px;
    margin-right: 7px;
  }
}

// Light buttons

button[type=button],
.file_input-button,
.csv-button,
.button {
  @extend %gray-button;
}

.button {
  &.-small {
    padding: 5px;
    font-size: 12px;
    margin: 3px;

    &:hover {
      color: $c-light-button;
    }
  }
}

.table-filter-controls {
  margin: 12px 0 0;

  @include bp(medium) {
    float: right;
  }

  input[type=submit] {
    @extend .button.-small;
  }
}
