label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  color: $c-text-heavy;

  abbr {
    color: $c-custom-highlight;
  }
}

label h6 {
  padding-top: 10px;
  font-size: 13px;
  color: #999;
  font-weight: normal;
  font-style: italic;
  line-height: 1.3;
}

.hint {
  // hide it so the javascript can do its thing and retain it's size
  display: inline-block;
  position: absolute;
  left: -9999px;
  visibility: hidden;

  img {
    max-width: 100%;
  }

  &.simplemodal-data {
    position: static;
    visibility: visible;
  }
}

input[type=text], input[type=number], input[type=textarea], input[type=url], input[type=tel], input[type=password], input[type=email] {
  padding: 12px 15px;
  border: 1px solid $c-border;
  font-size: 14px;
  outline: none;
  @include border-radius(2px);
  @include transition(border-color, .2s);

  &:focus {
      border-color: $c-custom-highlight;
    }
}

input[type=text], input[type=number] {
  width: 223px;
}

input[type=submit], button[type=button], .add-button {
  display: inline-block;
  font-size: 13px;
  cursor: pointer;

  @include border-radius(2px);
}

input[type=submit], .add-button {
  color: $c-form-submit;
  padding: 12px 15px;
  border: 0;

  @include gradient-vertical($start-color: $c-form-submit-gradient-start, $end-color: $c-form-submit-gradient-end);

  &:hover {
    color: $c-form-submit;
    background: $c-form-submit-gradient-hover;
  }
}

textarea {
  padding: 10px 0 0 15px;
  border: 1px solid $c-border;
  font-size: 14px;
  min-height: 125px;
  width: 90%;
  min-width: 223px;
  max-width: 515px;
  font-family: $f-lato;
  outline: none;
  @include border-radius(2px);
  @include transition(border-color, .2s);

  &:focus {
      border-color: $c-custom-highlight;
    }
}

button[type=button] {
  color: $c-form-button;
  padding: 11px 14px;
  border: 1px solid $c-border;

  @include gradient-vertical($start-color: $c-form-button-gradient-start, $end-color: $c-form-button-gradient-end);

  &:hover {
    background: $c-form-button-gradient-hover;
  }
}

input.string {
  width: 90%;
  min-width: 223px;
  max-width: 515px;
}

.input {
  margin-bottom: 20px;
}

.main_content-header-delete {
  color: #ce0202;
  margin-right: 20px;

  &:before {
    @include icon_stuff();
    @extend .icon-delete_x:before;
    font-size: 12px;
    margin-right: 6px;
  }
}

#main_content-header-save-cancel {
  @extend button[type=button];
  padding: 12px 16px;
  font-size: 14px;
}

/* checkboxes */
.input.boolean, .checkbox_collection--vertical, .checkbox_collection--horizontal {
  display: block;

  input[type=checkbox] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
  }

  .checkbox {
    position: relative;
    padding-left: 35px;
    margin: 0;
    cursor: pointer;
    display: inline-block;

    &:before {
      content: "";
      position: absolute;
      top: -6px;
      left: 0;
      height: 25px;
      width: 25px;
      border: 1px solid $c-border;
      background: $c-form-checkbox-bg;
      cursor: pointer;

      @include border-radius(2px);
    }

    h6 {
      display: inline-block;
      padding-top: 0;
    }
  }

  .js-active {
    &:before {
      border-color: $c-custom-highlight;
    }

    &:after {
      @extend .icon-check:before;
      position: absolute;
      top: -1px;
      left: 3px;
      font-size: 18px;
      color: $c-custom-highlight;
      cursor: pointer;

      @include icon-stuff();
    }
  }
}

.checkbox_styled {
  display: inline-block;

  input[type=checkbox] {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
  }

  .checkbox {
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 2px 0 0 2px;
    border: 1px solid $c-border;
    margin-bottom: 0;
    font-size: 13px;
    color: $c-text-heavy;
    background: $c-form-checkbox-bg;
    cursor: pointer;

    @include border-radius(2px);

    &:before {
      visibility: hidden;
    }

    &.js-active:before {
      visibility: visible;
    }
  }
}

.checkbox_collection--vertical.checkbox_collection--vertical {
  label {
    display: block;
    height: 25px;
    margin-bottom: 15px;
  }
}

.checkbox_collection--horizontal.checkbox_collection--horizontal {
  label {
    vertical-align: top;
    width: 190px;
    height: 25px;
    margin-bottom: 15px;
    margin-right: 10px;
  }
}

.radio_collection--vertical {
  label {
    cursor: pointer;
  }

  input[type=radio] {
    position: absolute;
    left: -9999em;
  }
}

.radio_collection--horizontal {
  label {
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
  }

  input[type=radio] {
    position: absolute;
    left: -9999em;
  }
}

.radio_collection-bullet {
  position: relative;
  bottom: 3px;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  width: 22px;
  margin-right: 5px;
  background: $c-white;
  border: 1px solid $c-border;
  @include border-radius(50%);

  input:checked + label &, input:checked + & {
    border-color: $c-custom-highlight;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 9px;
      width: 9px;
      background: $c-custom-highlight;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      @include border-radius(50%);
    }
  }
}

.asset-actions {
  position: relative;
  display: inline-block;
  width: 90%;
  min-width: 223px;
  max-width: 515px;
  padding: 5px 5px 4px 5px;
  border: 1px solid $c-border;
  background: $c-form-file-bg-active;
  font-size: 13px;

  @include border-radius(2px);

  & > img {
    width: 90px;
    margin-right: 20px;
  }

  .icon-delete_x {
    position: absolute;
    right: 10px;
    top: 19px;
    color: $c-text-sub;
  }

  &.asset-actions--files a {
    line-height: 32px;
  }
}

.asset-actions-image-link {
  position: relative;
  bottom: 15px;
  padding: 5px;
  margin-right: 10px;
  font-size: 12px;
  background: $c-form-file-link-bg;
  color: $c-form-file-link-text;

  @include border-radius(5px);
  @include transition(all, .2s);

  &:hover {
    background: $c-form-file-link-bg-hover;
  }
}

/* Hotels Edit COMING SOON to show Reservations starting */
.hotel_reservations_starting {
  max-height: 0;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
  @include transition(all, .2s);

  .hotel_status-coming_soon + & {
    max-height: 300px;
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
  }
}

/* Select box and Chosen */
.select, .time, .city_time_zone, .table-filter-area, .date {

  .chosen-container {
    font-size: 14px;

    .chosen-results {
      max-height: 140px;
    }
  }

  select {
    min-width: 300px;
  }

  select.small_pulldown {
    min-width: 150px;
  }

  .chosen-container-active .chosen-single {
    border-color: $c-border;
    background: $c-chosen-gradient-hover;
  }

  .chosen-container-single .chosen-single {
    height: auto;
    padding: 7px 15px;

    @include gradient-vertical($start-color: $c-chosen-gradient-start, $end-color: $c-chosen-gradient-end);
    @include border-radius(2px);
    @include box-shadow(0);
  }

  .chosen-container-single .chosen-default {
    color: $c-text-heavy;
  }

  .chosen-container-single .chosen-single div b {
    margin-top: 7px;
  }

  .chosen-container-multi {
    max-width: 515px;
    min-width: 223px;
    // overriding the inline js chosen makes
    width: 90% !important;

    .chosen-choices {
      padding: 5px;
      border: 1px solid $c-border;
      background: $c-chosen-bg;

      .li.search-field input[type="text"] {
        height: auto;
      }

      li.search-choice {
        padding: 5px 22px 5px 10px;
        border: 0;
        font-size: 12px;

        background: $c-chosen-multi-bg;
        color: $c-chosen-multi-text;

        .search-choice-close {
          background: none;
          background-attachment: fixed;
          top: 6px;
          font-size: 10px;
          color: $c-chosen-multi-delete;

          &:after {
            @include icon-stuff();
            @extend .icon-delete_x:before;
          }
        }
      }
    }

    &.chosen-container-active .chosen-choices {
      box-shadow: none;
    }

    li.search-field input[type="text"] {
      height: 100%;
    }
  }
}

// special for time
.time select {
  min-width: 75px;
}

// overwriting chosen for retina
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"], .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b, .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span, .chosen-container .chosen-results-scroll-up span {
    background-image: image-url('fae/chosen/chosen-sprite@2x.png') !important;
  }
}

.select-no_search {
  .chosen-container .chosen-results {
    padding-top: 5px;
  }

  .chosen-search {
    display: none;
  }
}

// special treatment for date groupings
// current order is year month day
.input.date {
  select {
    min-width: 50px;
  }

  // year
  select:nth-of-type(1), .ie-select-1 {
    width: 100px;
  }

  // month
  select:nth-of-type(2), .ie-select-2 {
    width: 200px;
  }

  // day
  select:nth-of-type(3), .ie-select-3 {
    width: 75px;
  }

  //specific chosen stuff for dates
  .chosen-container {
    margin-right: 10px;
  }
}

.daterangepicker-seperator {
  margin: 0 15px;
}

// special for hte table filters since they be small
.table-filter-area {

  .chosen-container {
    font-size: 12px;
  }

  select {
    min-width: 200px;
  }

  .chosen-container-single .chosen-single {
    padding: 0px 15px;

    div b {
      margin-top: 1px;
    }
  }
}

/* Styles needed for the fileinputer */
.file_input-wrapper {
  position: relative;
  display: inline-block;
  width: 90%;
  min-width: 223px;
  max-width: 515px;
  padding: 5px;
  border: 1px solid $c-border;
  background: $c-form-file-bg;
  font-size: 13px;
  cursor: pointer;

  @include transition(background, .2s);
  @include border-radius(2px);

  span {
    color: $c-text-sub;
    @include transition(color, .2s);
  }

  &.js-active {
    background: $c-form-file-bg-active;

    span {
      color: $c-custom-highlight;
    }
  }
}

.file_input-button {
  color: $c-text;
  padding: 11px 14px;
  border: 1px solid $c-border;
  margin-right: 10px;
  cursor: pointer;

  @include gradient-vertical($start-color: $c-form-button-gradient-start, $end-color: $c-form-button-gradient-end);

  &:hover {
    background: $c-form-submit-gradient-hover;
  }
}

.file_input-delete {
  display: none;
  position: absolute;
  right: 10px;
  top: 19px;
  color: $c-text-sub;

  .js-active & {
    display: block;
  }
}

.js-addedit-form {
  h3 {
    @extend label;
    margin-bottom: 20px;
  }
}

.js-addedit-form-wrapper {
  display: none;

  .form_content-wrapper {
    padding: 30px;
    border: 1px solid $c-border;
    border-top: 0;
    background: $c-form-table-bg;
  }

  .form_content-header {
    margin-bottom: 20px;
    font-size: 16px;
    color: $c-text-heavy;
    font-weight: bold;
  }
}

.js-add-link {
  font-size: 12px;
}

.table-add-link {
  float: right;
}

.table-add-link-visible {
  float: right;
  font-size: 12px;
}

.form_content-wrapper-visible {
  padding: 30px;
  border: 1px solid $c-border;
  border-top: 0;
  background: $c-form-table-bg;

  .input {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }

  .select .chosen-container-single .chosen-single {
    padding: 8px 15px;
  }
}

.form_content-wrapper-visible-complex {
  padding: 30px;
  border: 1px solid $c-border;
  border-top: 0;
  background: $c-form-table-bg;

  .select .chosen-container-single .chosen-single {
    padding: 8px 15px;
  }
}

// errors
.field_with_errors {
  position: relative;
  padding-top: 40px;

  .error {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 10px;
    background: $c-error-bg;
    color: $c-error-content;
    font-size: 12px;
    overflow: visible;

    &:before {
      @extend .icon-alert;
      @include icon-stuff();
      padding-right: 10px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      @include right-triangle(10px, $c-error-bg);
    }
  }
}

.input {
  .valid {
    border: 1px solid $c-notice-content;
  }
  .invalid {
    border: 1px solid $c-error-content;
  }
}



// pagination
.pagination {
  font-size: 12px;
  font-weight: bold;

  li {
    display: inline-block;
    margin-left: -4px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    display: block;
    padding: 10px;
    min-height: 30px;
    min-width: 35px;
    border: 1px solid $c-border;
    text-align: center;
    color: $c-grey;
    @include gradient-vertical($start-color: $c-form-button-gradient-start, $end-color: $c-form-button-gradient-end);

    &:hover {
      color: $c-white;
      background: $c-custom-highlight;
    }
  }
}

.pagination-ellipsis {
  span {
    display: block;
    padding: 10px;
    min-height: 30px;
    min-width: 35px;
    border: 1px solid $c-border;
    text-align: center;
    color: $c-grey;
    background: $c-lightest_grey;
  }
}

// Inputs with icon
%input-symbol {
  position: absolute;
  bottom: 0;
  border: 0 solid $c-lightest_grey;
  padding: 14px 16px 13px;
  margin-bottom: 1px;
  font-size: 14px;
  color: $c-light_grey;
}

.symbol {
  position: relative;
  width: 240px;

  input {
    width: 100%;
  }

  &.symbol--prefix input {
    padding-left: 50px;
  }

  &.symbol--suffix input {
    padding-right: 50px;
  }
}

.input-symbol--prefix {
  @extend %input-symbol;
  left: 0;
  border-right-width: 1px;
}

.input-symbol--suffix {
  @extend %input-symbol;
  right: 0;
  border-left-width: 1px;
}

.datepicker {
  position: relative;
  width: 240px;

  input[type=text] {
    padding-right: 50px;
  }

  &:before {
    @include icon-stuff();
    @extend .icon-calendar:before;
    position: absolute;
    right: 20px;
    bottom: 0;
    padding: 12px;
    font-size: 19px;
    color: $c-light_grey;
  }
}

// MultiSelect plugin for multiselect pagination-ellipsis
.ms-container {
  width: 700px;
}

.ms-container:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}

.ms-container .ms-selectable, .ms-container .ms-selection {
  float: left;
  width: 50%;
  height: 250px;
  padding-right: 15px;
  background: $c-lightest_grey;
  color: $c-text-heavy;
}

.ms-container .ms-selection {
  float: right;
}

.ms-container .ms-list {
  position: relative;
  height: 100%;
  height: calc(100% - 25px);
  background: $c-white;
  overflow-y: auto;
}

.ms-container .ms-list.ms-focus {
  outline: 0;
}

.ms-container .ms-optgroup-container {
  width: 100%;
}

.ms-container .ms-optgroup-label {
}

.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection {
  position: relative;
  padding: 10px 15px;
  border-bottom: 1px $c-almost_white solid;
  border-right: 1px $c-almost_white solid;
  color: $c-text;
  font-size: 13px;

  &:after {
    content: "Add";
    position: absolute;
    right: 15px;
    top: 9px;
    color: $c-custom-highlight;
  }
}

.ms-container .ms-selectable li.ms-elem-selectable {
  padding-right: 45px
}

.ms-container .ms-selection li.ms-elem-selection {
  padding-right: 30px;
  padding-left: 35px;

  &:after {
    @include icon-stuff();
    content: "\e60f";
    @extend .icon-delete_x:before;
    color: $c-text-sub;
  }

  &:before {
    @include icon-stuff();
    @extend .icon-check:before;
    padding-right: 5px;
    margin-left: -19px;
    color: $c-custom-highlight;
  }
}

.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
  cursor: pointer;
  text-decoration: none;
  background-color: $c-almost_white;
}

.ms-container .ms-selectable li.disabled, .ms-container .ms-selection li.disabled {
  color: $c-almost_white;
  cursor: text;
}

.ms-selectable .custom-header, .ms-selection .custom-header {
  padding: 10px 15px;
  margin-right: -15px;
  color: $c-text-heavy;
  background: $c-lighter_grey;
  font-size: 14px;
}

.ms-selection .custom-header {
  background: $c-light_grey;
}

// DATEPICKER
// DatePicker Container
.ui-datepicker {
  width: 216px;
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;

  @include box-shadow(0, 0, 10px, 0, $c-box_shadow);

  a {
    text-decoration: none;
  }
}

// DatePicker Table
.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  background: $c-black;
  color: $c-white;
  font-weight: bold;
  line-height: 30px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: $c-border;

  @include box-shadow(0, 1px, 1px, 0, $c-box_shadow);
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: $c-white;

  .ui-icon {
    display: none;
  }
}

.ui-datepicker-prev {
  float: left;

  &:before {
    @include icon-stuff();
    @extend .icon-chevron_left:before;
  }
}

.ui-datepicker-next {
  float: right;

  &:before {
    @include icon-stuff();
    @extend .icon-chevron_right:before;
  }
}

.ui-datepicker thead {
  background-color: $c-almost_white;
  @include gradient-vertical($start-color: $c-almost_white, $end-color: $c-content-header-bg);
  border-bottom: 1px solid $c-border;
}

.ui-datepicker th {
  text-transform: uppercase;
  font-size: 6pt;
  padding: 5px 0;
  color: $c-grey;
}

.ui-datepicker tbody td {
  padding: 0;
  border-right: 1px solid $c-border;
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid $c-border;
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: $c-grey;
}

.ui-datepicker-calendar .ui-state-default {
  background: $c-lightest_grey;
  @include gradient-vertical($start-color: $c-lightest_grey, $end-color:$c-nav-sub-bg-active);
  @include box-shadow(1px, 1px, 0, 0, $c-box_shadow);
}

.ui-datepicker-calendar .ui-state-hover {
  color: $c-custom-highlight;
}

.ui-datepicker-calendar .ui-state-active {
  background: $c-custom-highlight;
  color: $c-white;
  position: relative;
}

.ui-datepicker-unselectable .ui-state-default {
  background: $c-almost_white;
  color: $c-lighter_grey;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0;
}