.main-header {
  @include transition($mobile-menu-transition);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px $g-content-buffer 12px;
  background: $c-header-bg;
  text-align: center;
  z-index: 1;

  @include bp(large) {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }

  h1 {
    a {
      font-size: 20px;
      color: $c-header-logo;
      text-transform: uppercase;
      display: block;
      letter-spacing: 0.1em;
    }
  }
}

// Utility nav. View Site, Support, Username, etc.
.utility_nav {
  display: none;
  position: absolute;
  right: $g-content-buffer;
  top: calc(50% - .5em);

  @include bp(large) {
    display: block;
  }

  @include bp(page_header_save_block) {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 20px;
  }

  li {
    display: inline-block;
    margin-left: 20px;
    position: relative;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    font-size: 13px;
    color: $c-text-sub;

    &:hover {
      color: $c-text-sub-hover;
    }
  }

  i {
    font-size: 13px;
  }

  .icon-arrow_down {
    font-size: 6px;
  }
}

.utility_sub_nav {
  width: 150px;
  display: none;
  background-color: $c-utility-sub-nav-bg;
  position: absolute;
  top: 37px;
  right: 0;
  padding: 8px 0;
  z-index: 2;

  .active & {
    display: block;
  }

  li {
    display: block;
    margin-left: 0;

    a {
      @include transition(background-color .2s ease-in-out);
      font-size: 14px;
      color: $c-utility-sub-nav-link-color;
      padding: 7px 25px;
      display: block;

      &:hover {
        background-color: $c-utility-sub-nav-link-bg-hover;
        color: $c-utility-sub-nav-link-color;
      }
    }
  }
}
