#main_header {
  @include transition($mobile-menu-transition);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 12px 0;
  background: $c-header-bg;
  border-bottom: 4px solid $c-custom-highlight;
  text-align: center;
  z-index: 1;

  @include bp(large) {
    position: relative;
    padding: 25px 20px;
    text-align: left;
  }
}

.main_header-name a {
  font-size: 24px;
  color: $c-header-logo;
}

.main_header-name-fine {
  margin-left: 10px;
  font-size: 12px;
  color: $c-text-sub;
}