.js-menu-active {
  body {
    margin-left: $main_nav_width;
  }

  #main_nav {
    margin-left: 0;
  }

  #main_header {
    margin-left: $main_nav_width;
  }

  #main_nav-menu_button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 2000%;
    width: 2000%;
  }
}

.js-menu-level-active {
  .main_nav-sub-nav {
    margin-left: 0;
    z-index: 1;
  }
}

.main_nav-sub-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: $main_nav_width;
  margin-left: -$main_nav_width;
  overflow: auto;
  @include transition(margin-left, .3s, cubic-bezier(0.250, 0.460, 0.450, 0.940)); // for mobile menu

  @include bp(show_nav) {
    display: none;
    position: relative;
    height: auto;
    width: auto;
    margin-left: 0;
  }
}

.main_nav-sub-header-mobile {
  padding: 20px;
  cursor: pointer;
  background-color: $c-light_grey;
  color: $c-white;

  @include bp(show_nav) {
    display: none;
  }

    &:before {
      @include icon_stuff();
      @extend .icon-chevron_left:before;
      padding: 5px 9px 5px 7px;
      border: 2px solid $c-white;
      margin-right: 10px;
      color: $c-white;
      @include border-radius(50%);
    }
}