.hinter-clicker {
	margin-left: 5px;
	cursor: pointer;
	color: $c-custom-highlight;

	&.hovered {
		position: relative;
		z-index: 10000;
	}
}

#simplemodal-overlay {
	background: $c-modal-overlay-bg;
}

.simplemodal-container {
	position: relative;
	height: auto !important;
	padding: 35px;
	border-top: 4px solid $c-custom-highlight;
	background: $c-modal-light-bg;
	color: $c-text;
	line-height: 1.5;
	font-size: 13px;
	@include box-shadow(0, 3px, 8px, 0, $c-login-box_shadow);

	h3 {
		color: $c-text;
		margin-bottom: 25px;
		font-size: 20px;
		font-weight: normal;
	}

	table {
		width: calc(100% + 40px);
		margin: 20px -20px -20px -20px;
	}

	.icon-support {
		vertical-align: top;
		margin-right: 3px;
	}
}

.simplemodal-close {
	&:before {
		@include icon-stuff();
		@extend .icon-delete_x:before;
		position: absolute;
		top: 20px;
		right: 20px;
		color: $c-modal-text;
		cursor: pointer;
		font-size: 12px;

		.simplemodal-container--dark & {
			color: $c-white;
		}
	}
}

.simplemodal-container--dark {
	background: $c-modal-bg;
	color: $c-light_grey;
	@include box-shadow(0);

	h3 {
		color: $c-modal-header;
	}
}

// used for the sample pages only
.sample-modals {
	.simplemodal-container {
		width: 400px;
	}
}