.hinter-clicker {
	@include transition(color .2s);
  margin-left: 5px;
  cursor: pointer;
  color: $c-darker-grey;

  &:hover {
  	color: $c-text-heavy;
  }

  &.hovered {
    position: relative;
    z-index: 10000;
  }
}

#simplemodal-overlay {
	background: $c-modal-overlay-bg;
}

.simplemodal-container {
	position: relative;
	max-height: 75%;
	max-width: 75%;
	padding: 35px;
	border-top: 4px solid $c-custom-highlight;
	background: $c-white;
	color: $c-text;
	line-height: 1.5;
	font-size: 13px;
	overflow: scroll;
	box-shadow: 0 3px 8px 0 $c-box-shadow;

	h3 {
		color: $c-text;
		margin-bottom: 12px;
		font-size: 20px;
		font-weight: normal;
	}

	h4 {
		color: $c-text;
		margin-bottom: 12px;
		font-size: 16px;
		font-weight: bold;
	}

	p {
		margin-bottom: 25px;
		span {
			text-decoration: underline;
		}
	}

	table {
		width: calc(100% + 40px);
		margin: 20px -20px -20px;
	}

	.icon-support {
		vertical-align: top;
		margin-right: 3px;
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.simplemodal-close {
	&:before {
		@include icon-stuff;
		@extend .icon-delete_x:before;
		position: absolute;
		top: 20px;
		right: 20px;
		color: $c-modal-text;
		cursor: pointer;
		font-size: 12px;

		.simplemodal-container--dark & {
			color: $c-white;
		}
	}
}

.simplemodal-container--dark {
	background: $c-modal-bg;
	color: $c-darker-grey;
	box-shadow: none;

	h3 {
		color: $c-white;
	}
}
