%inset-nav-shadow {
	@include box-shadow-inset(-15px, 0, 15px, -15px, $c-box_shadow);
}

%main_nav-all_links {
	@include transition(background, .2s);
	display: block;
	color: $c-text;

	&:hover {
		color: $c-nav-link;
		background: $c-nav-bg-hover;
	}
}

.main_nav {
	@extend %inset-nav-shadow;
	@include transition(margin-left, .3s, cubic-bezier(0.250, 0.460, 0.450, 0.940)); // for mobile menu
	position: fixed;
	top: 0;
	left: 0;
	width: $main_nav_width;
	height: 100%;
	margin-left: negate($main_nav_width);
	overflow: auto;
	padding: 10px 5px 10px 0;
	background: image-url('fae/bg_tile.gif');

	@include bp(large) {
		position: absolute;
		padding: 10px;
		margin-left: 0;
	}

	a {
		@extend %main_nav-all_links;
		position: relative;
		padding: 15px 10px 15px 20px;

		&.current {
			padding-left: 5px;
			border-left: 5px solid $c-custom-highlight;
			color: $c-custom-highlight;
		}

		@include bp(large) {
			padding: 10px 20px 10px 10px;
		}
	}

	li {
		li {
			a {
				font-size: 14px;

				@include bp(large) {
					padding: 10px 20px;
				}
			}

			li {
				a {
					@include bp(large) {
						padding-left: 30px;
					}
				}
			}
		}
	}
}

// The accordion. An <li> element.
.main_nav-accordion {
	&.-open {
		@include bp(large) {
			background: $c-nav-sub-bg-active;
		}

		> a {
			&:after {
				@extend .icon-chevron_up:before;
			}
		}

		&.-sub {
			background: #d8d8d8;
		}
	}

	&.current {
		> ul {
			display: block;
		}
	}

	> a {
		&:after {
			@extend .icon-chevron_down:before;
			@include icon_stuff();
			@include transition(color, .2s);
			position: absolute;
			right: 13px;
			font-size: 8px;
			color: $c-nav-icons;
			top: 14px;

			@include bp(large-down) {
				top: 18px;
				// overrides the up arrow on open at desktop
				content: '\e610' !important;
			}
		}

		&:hover:after {
			color: $c-nav-icons-hover;
		}
	}

	ul {
		@include bp(large) {
			display: none;
		}
	}
}

.main_nav-sub-nav {
	background: image-url('fae/bg_tile.gif');

	@include bp(large) {
		background: $c-nav-sub-bg-active;
	}
}

.main_nav-sub-nav-admin {
	a {
		&.-users,
		&.-settings,
		&.-activity {
			position: relative;

			&:after {
				@include icon_stuff();
				position: absolute;
				right: 10px;
				top: 11px;
				font-size: 15px;
				color: $c-nav-icons;
			}

			&:hover:after {
				color: $c-nav-icons-hover;
			}
		}

		&.-users {
			&:after {
				@extend .icon-users:before;
			}
		}

		&.-settings {
			&:after {
				@extend .icon-settings:before;
			}
		}

		&.-activity {
			&:after {
				@extend .icon-bars:before;
			}
		}
	}
}

.main_nav-header-mobile {
	@include bp(large) {
		display: none;
	}

	a {
		@extend %inset-nav-shadow;
		color: $c-dark_grey;
		background: $c-lightest_grey;

		&:after {
			@include icon_stuff();
			top: 15px;
			right: 13px;
			position: absolute;
			font-size: 16px;
			color: $c-nav-icons;
		}

		&.-logout {
			&:after {
				@extend .icon-logout:before;
			}
		}

		&.-settings {
			&:after {
				@extend .icon-settings:before;
			}
		}

		&.-support {
			&:after {
				@extend .icon-support:before;
			}
		}

		&.-viewsite {
			&:after {
				@extend .icon-offlink:before;
			}
		}
	}
}

.header_drawer-content-username {
	@extend %inset-nav-shadow;
	display: block;
	position: relative;
	padding: 15px 10px 15px 20px;
	cursor: pointer;
	color: $c-black;
	background: $c-lighter_grey;

  @include bp(large) {
    display: none;
  }
}

.main_nav-third-link {
	@include bp(large) {
		padding: 10px 10px 10px 30px;
	}
}

.main_nav-link-dashboard {
	a,
	.header_drawer-content {
		position: relative;

		&:after {
			@extend .icon-home:before;
			@include icon_stuff();
			@include transition(color, .2s);
			position: absolute;
			right: 10px;
			top: 11px;
			font-size: 15px;
			color: $c-nav-icons;
		}

		&:hover:after {
			color: $c-nav-icons-hover;
		}
	}
}

// when the main nav is current
@include bp(large) {
	.main_nav-accordion.current {
		background: $c-nav-sub-bg-active;

		a.current {
			padding-left: 15px;
		}

		.main_nav-accordion {
			&.current {
				display: block;
				background: $c-nav-sub-bg-active-highlight;
			}

			a.current {
				padding-left: 25px;
				background: transparent;
			}
		}

		.main_nav-sub-nav {
			background: transparent;
		}
	}
}

.main_nav-menu_button {
	position: absolute;
	top: 0;
	left: 0;
	padding: 18px;
	cursor: pointer;
	color: $c-white;

	@include bp(large) {
		display: none;
	}
}

.show--mobile {
	@include bp(large) {
		display: none;
	}
}
