.index_table {
	width: 100%;
	border: 1px solid $c-border;
	border-collapse: separate;
	table-layout: fixed;

	@include bp(medium) {
		table-layout: fixed;
	}

	& tbody tr:nth-of-type(even) {
		td {
			background-color: $c-table-tr-even;

			&:first-child {
				border-left: 3px solid $c-table-tr-even;
			}
		}

		&:hover {
			td {
				background: $c-table-tr-hover;


				&:first-child {
					border-left: 3px solid $c-custom-highlight;
				}
			}
		}

		.main_table-action {
			border-color: $c-table-tr-even;

			&:hover {
				border-color: $c-border;
			}
		}
	}

	th, td {
		vertical-align: middle;
		font-size: 13px;
		text-align: left;
	}

	.main_table-edit, .main_table-delete, .main_table-clone,
	.main_table-header-delete, .main_table-header-edit, .main_table-header-clone {
		text-align: center;
	}

	th {
		padding: 15px 10px;
		border-bottom: 1px solid $c-border;
		vertical-align: middle;
		font-weight: bold;
		color: $c-text-heavy;
		background: $c-table-th;
	}

	td {
		height: 56px;
		padding: 14px 10px;
		background-color: $c-table-td;
	}

	tbody {
		tr {
			&:hover {
				td {
					background: $c-table-tr-hover;

					&:first-child {
						border-left: 3px solid $c-custom-highlight;
					}
				}

				.icon-edit, .icon-delete_x {
					color: $c-custom-highlight;
				}
			}
		}

		td {
			&:first-child {
				border-left: 3px solid $c-table-td; /* this blends it in to the background */
			}
		}
	}
}

.main_table-description-item-sub {
	margin-top: 7px;
	font-size: 12px;
	color: $c-text-sub;
}

.main_table-action {
	display: inline-block;
	padding: 5px;
	border: 2px solid $c-table-td;

	@include transition(border-color, .2s);

	&:hover {
		border-color: $c-border;
	}

	.icon-edit {
		font-size: 15px;
	}

	&.main_table-clone {
	  display: block;
	  width: 34px;
	  margin: 0 auto;
	}
}

.main_table-header-modified {
	width: 200px;
	text-align: center;
}

.main_table-header-live {
	width: 80px;
	text-align: center;
}

.main_table-header-delete {
	width: 90px;
	text-align: center;
}

.main_table-header-edit {
	width: 65px;
	text-align: center;
}

.main_table-modified {
	text-align: center;
}

.main_table-live {
	font-weight: bold;
	text-align: center;
}

.main_table-edit, .main_table-delete {
	width: 1px;
	text-align: center;

	a {
		color: $c-text-sub;

		&:hover {
			color: $c-text;
		}
	}
}

.main_table-action-area {
	float: right;
	margin-bottom: 10px;
}

.main_table-action_menu {
	position: relative;
	display: inline-block;
	float: right;
	border: 1px solid $c-border;
	margin-bottom: 10px;

	@include border-radius(2px);

	.icon-arrow_down {
		font-size: 4px;
		vertical-align: middle;
	}

	.icon-settings {
		font-size: 18px;
		vertical-align: middle;
	}
}

.main_table-action_menu-trigger {
	padding: 8px 10px;
	font-size: 20px;
	color: $c-text-sub;
	cursor: pointer;

	@include transition(color, .2s);

	&.js-active {
		color: $c-text;
	}
}

.main_table-action_menu-content {
	position: absolute;
	top: 42px;
	left: -9999px;
	width: 150px;
	padding: 10px 0;
	opacity: 0;
	background: $c-table-action_menu-bg;

	@include transition(opacity, .2s);
	@include box-shadow(0, 0, 5px, 1px, $c-box_shadow);

	li {
		padding: 7px 20px;
		font-size: 14px;
		color: $c-custom-highlight;
		cursor: pointer;

		&:hover {
			background: $c-table-action_menu-link-bg;
		}
	}

	.js-active + & {
		right: 0;
		left: auto;
		opacity: 1;
	}
}

.main_content-sortable-handle-col {
	width: 25px;
	padding: 0;
}

.main_content-sortable-handle {
	padding-right: 5px;
	color: $c-text-sub;
	cursor: pointer;
}

/* tablesorter classes */
.tablesorter-header {
	&:not(.sorter-false) {
		cursor: pointer;
		&:hover {
			border-bottom: 1px solid $c-custom-highlight;
		}

	}

	&.tablesorter-headerAsc, &.tablesorter-headerDesc {
		border-bottom: 1px solid $c-custom-highlight;
	}

	&:after {
		@extend .icon-arrow_down:before;
		float: right;
		margin-top: -2em;
		font-size: 4px;
		color: $c-tablesorter-icon;
		visibility: hidden;
		@include icon_stuff();
	}
}

.tablesorter-headerDesc {
	background: $c-table-th-highlight;

	&:after {
		visibility: visible;
		@extend .icon-arrow_down:before;
	}
}

.tablesorter-headerAsc {
	background: $c-table-th-highlight;

	&:after {
		visibility: visible;
		@extend .icon-arrow_up:before;
	}
}

// Filters!
.table-filter-area {
	position: relative;
	padding: 20px 170px 20px 20px;
	border: 1px solid $c-border;
	border-bottom: 0;
	background: $c-form-table-bg;

	h2 {
		margin-bottom: 20px;
		color: $c-table-filter-header;
		font-size: 16px;
	}

	label {
		margin-bottom: 5px;
		color: $c-table-filter-header;
		font-size: 12px;
	}

	input[type=text] {
		padding: 5px;
		font-size: 12px;
		color: $c-table-filter-input;

		&.table-filter-keyword-input {
			position: absolute;
			top: 18px;
			right: 20px;
			padding-left: 10px;
			padding-right: 30px;
			@include border-radius(20px);
		}
	}

	.table-filter-keyword-wrapper:after {
		@include icon-stuff();
		@extend .icon-search:before;
		position: absolute;
		top: 25px;
		right: 30px;
	}
}

.table-filter-group {
	display: inline-block;
	margin: 0 30px 20px 0;
}

.main_content-thumb-col {
	width: 150px;
}

// sticky table header
.sticky-table-header--hidden {
  position: fixed;
  top: 70px;
  z-index: 1;
  display: none;
  border-top: 0;
  border-bottom: 0;
}

.collapsible {
	margin-bottom: 10px;
	h3 {
		background: $c-white;
		padding: 20px 0 20px 37px;
		position: relative;
		border: 1px solid $c-border;
		cursor: pointer;
		margin-bottom: 0;
		&:after {
			@extend .icon-arrow_down:before;
			@include icon_stuff();
			position: absolute;
			right: 25px;
			top: 22px;
			font-size: 5px;
		}
	}

	&.active {
		h3 {
			border-bottom: none;
			&:after {
				@extend .icon-arrow_up:before;
			}
		}
		table {
			display: table;
		}
	}

	table {
		display: none;
	}
}

.collapsible-toggle {
	text-align: right;
	margin: 12px 0 24px;
	cursor: pointer;
	padding-right: 25px;
	&:after {
		@extend .icon-arrow_down:before;
		@include icon_stuff();
		font-size: 5px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 6px;
		margin-top: -3px;
	}
	&.close-all {
		&:after {
			@extend .icon-arrow_up:before;
		}
	}
}
