<section>
  <h2>Live Demo</h2>
  <p>
    <%= link_to 'View the live demo', '/admin' %><br>
    username: demo@wearefine.com<br>
    password: demofine
  </p>
</section>

<section>
  <h2>Form UI Menu</h2>
  <p>Content TBD</p>
</section>

<section>
  <h2>Documentation</h2>
  <p><%= link_to 'Technical Doumentation', 'https://bitbucket.org/wearefine/fae', target: '_blank' %></p>
</section>
