// FINE Standard Breakpoints
$fine-breakpoints: (
  'small'           : ( min-width:  420px ),
  'small-down'      : ( max-width:  420px ),
  'medium'          : ( min-width:  768px ),
  'medium-down'     : ( max-width:  768px ),
  'medium-only'     : unquote('(min-width: 768px) and (max-width: 1024px)'),
  'medium-portrait' : unquote('(min-width: 768px) and (max-width: 959px)'),
  'large'           : ( min-width: 1024px ),
  'large-down'      : ( max-width: 1024px ),
  'print'           : ( only print ),
  'screen'          : ( only screen ),
  'retina'          : unquote('only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)'),
  'portrait'        : unquote('only screen and (orientation: portrait)'),
  'landscape'       : unquote('only screen and (orientation: landscape)'),
);

// Project $breakpoints map to guard against deletion in project _variables
$breakpoints: () !default;

$em-base: 16px !default;

$f-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$f-serif: Times New Roman, Georgia, serif;
$f-script: Brush Script MT, Trebuchet MS, 'Helvetica Neue', Helvetica, Arial, script;
$f-monospace: 'Bitstream Vera Sans Mono', Consolas, Monaco, Menlo, 'Andale Mono', monospace;
$f-international: 'Microsoft YaHei New', 'Microsoft Yahei', '微软雅黑', 宋体, SimSun, STXihei, '华文细黑', 'MS PGothic', $f-sans;

$c-white: #fff;
$c-black: #000;
