//////////////////////////////
// FINE Functions
//////////////////////////////

// Return a negative integer of the supplied value
@function negate($integer) {
  @if $integer > 0 {
    @return 0 - $integer;
  } @else {
    @return $integer;
  }
}

// Z-index function: comma-separated list and item taken
// http://www.smashingmagazine.com/2014/06/12/sassy-z-index-management-for-complex-layouts/
@function z($list, $element) {
  $z-index: index($list, $element);

  @if $z-index {
    @return $z-index;
  }

  @warn "There is no item '#{$element}' in this list; choose one of: #{$list}";
  @return null;
}

// Taken from Foundation
@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

@function remCalc($pxWidth) {
  @return $pxWidth / $em-base * 1rem;
}

// Helper for finding value in a faux sass hash -- i.e. a list
// http://hugogiraudel.com/2013/08/12/sass-functions/
@function match($collection, $value) {
  @each $item in $collection {
    $index: index($item, $value);
    @if $index {
      $return: if($index == 1, 2, $index);
      @return nth($item, $return);
    }
  }
  @return false;
}

// Grabs a color from $grays map
// @param {key} $key - Key to get value from $grays map
// @return - Color value
@function gray($key: 30) {
  @if map-has-key($grays, $key) {
    @return map-get($grays, $key);
  } @else {
    // Obvious off brand color for error detection
    @return #00f;
  }
}

// Choose from a light or dark contrasting foreground color given a background
// Original function: https://medium.com/@mkel23/calculating-color-contrast-with-sass-eff39ef23f96
@function pickForegroundColor($background, $c-light, $c-dark) {
  $r: red($background);
  $g: green($background);
  $b: blue($background);

  $yiq: (($r*299)+($g*587)+($b*114))/1000;

  @if ($yiq >= 170) {
    @return $c-dark; // Dark foreground
  }
  @else {
    @return $c-light; // Light foreground
  }
}
