== render 'fae/shared/index_header', title: t('fae.page.title'), breadcrumbs: false, new_button: false

main.content
  table.js-sort-column
    thead
      tr
        th = t('fae.common.name')
        th.-action-wide Modified
    tbody
      - @items.each do |item|
        tr id="fae_content_block_#{item.id}"
          td = item.title.titleize
          td = fae_date_format item.updated_at
